@charset "utf-8";

/*메인 비주얼 영역*/
#container .main_visual {
  position: relative;
}

#container .main_visual .swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

#container .main_visual .txt_box {
  position: absolute;
  top: 378px;
  left: 240px;
}

#container .main_visual .txt_box>h2 {
  font-size: 5rem;
  font-weight: 500;
  line-height: 60px;
}

#container .main_visual .txt_box>p {
  margin-top: 24px;
  font-size: 3rem;
  line-height: 30px;
}

#container .main_visual .txt_box>i {
  font-size: 2.4rem;
  line-height: 54px;
  color: #666;
}

#container .main_visual .txt_box>span {
  padding-bottom: 24px;
  font-size: 2.4rem;
  line-height: 50px;
}

#container .main_visual .txt_box>a {
  display: block;
  margin-top: 34px;
  padding: 10px 0;
  width: 140px;
  border: 1px solid #666;
  font-size: 1.6rem;
  text-align: center;
}

#container .main_visual .txt_box>.btn_e04 {
  display: block;
  margin-top: 254px;
  padding: 10px 0;
  width: 140px;
  border: 1px solid #666;
  font-size: 1.6rem;
  text-align: center;
}

#container .main_visual .txt_box>a:hover {
  background-color: #333;
  color: #fff;
  transition: all 0.5s linear;
}

#container .swiper-button-prev.btn_prev img,
#container .swiper-button-next.btn_next img {
  line-height: 0;
}

#container .swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

/*브랜드스토리*/
#container .brand_story {
  display: flex;
  width: 100%;
  height: 810px;
  transition: background-image 0.6s ease;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

#container .brand_story.bg1 {
  background-image: url(../images/main/brand_bg01.jpg);
}

#container .brand_story.bg2 {
  background-image: url(../images/main/brand_bg02.jpg);
}

#container .brand_story.bg3 {
  background-image: url(../images/main/brand_bg03.jpg);
}

/* 아코디언 구조 */
#container .brand_story .accordion_list {
  display: flex;
  width: 100%;
}

#container .brand_story .accordion_item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.6s ease;
  border-left: 1px solid #fff;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

#container .brand_story .accordion_item:first-child {
  border: none;
}

#container .brand_story .accordion_title {
  display: flex;
  align-items: center;
  justify-content: center;
}

#container .brand_story .accordion_item .accordion_title h2 {
  padding: 0 46px;
  width: 100%;
  transition: transform 0.6s ease, opacity 0.6s ease, color 0.6s linear;
  transform: translateX(0);
  opacity: 1;
  font-family: 'Mont';
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.65);
  writing-mode: sideways-lr;
  text-orientation: upright;
}

#container .brand_story .accordion_item .accordion_title:hover h2 {
  color: #fff;
  cursor: pointer;
}

/* 내용 */
#container .brand_story .accordion_item .accordion_cont {
  display: none;
  max-height: 0;
  transition: all 0.1s ease;
  transform: translateX(-40px);
}

/* 활성화 상태 */
#container .brand_story .accordion_item.active {
  flex-grow: 1;
  /*남는 가로영역을 채우기 위해 늘어난다는 의미*/
  background: rgba(0, 0, 0, 0.3);
}

#container .brand_story .accordion_item.active .accordion_cont {
  display: block;
  max-height: 810px;
  text-align: left;
  opacity: 1;
  transform: translateX(0);
}

#container .brand_story .accordion_item.active .accordion_title {
  display: none;
}

#container .brand_story .accordion_item .info_wrap {
  padding: 110px 180px;
  width: 83vw;
}

#container .brand_story .accordion_item .info_wrap h3 {
  display: inline-block;
  font-size: 5.2rem;
  font-weight: 600;
}

#container .brand_story .accordion_item .info_wrap b {
  padding-left: 22px;
  font-size: 4rem;
  font-weight: 300;
}

#container .brand_story .accordion_item .info_wrap ul {
  margin-top: 46px;
  padding: 64px;
  background-color: rgba(0, 0, 0, 0.3);
}

#container .brand_story .accordion_item .info_wrap ul li {
  font-size: 3rem;
  font-weight: 300;
  line-height: 78px;
}

#container .brand_story .accordion_item .info_wrap ul li img {
  line-height: 0;
}

#container .brand_story .accordion_item .info_wrap p {
  padding-top: 42px;
  font-size: 2.2rem;
  font-weight: 300;
}

/*제품유형바로가기*/
#container .product_type {
  margin: 115px auto;
  width: 1440px;
}

#container .product_type .type_list ul {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  color: #333;
}

#container .product_type .type_list ul li img {
  display: block;
  margin-bottom: 12px;
  height: 100%;
  border: 1px solid #F5F5F5;
  border-radius: 100%;
  transition: border-color 0.5s linear;
}

#container .product_type .type_list ul li:hover img {
  border-color: #7A9783;
  transition: 0.5s linear;
}

#container .product_type .type_list ul li a {
  display: block;
  transition: color 0.5s linear;
}

#container .product_type .type_list ul li:hover a {
  color: #7A9783;
}

/*베스트아이템*/
#container .best_item {
  position: relative;
  width: 100%;
}

#container .best_item .best_list {
  margin: 0 auto;
  width: 1440px;
}

#container .best_item h3 {
  padding: 20px 0 60px;
  font-family: 'MONT';
  font-size: 4.8rem;
  font-weight: 800;
  text-align: center;
}

#container .best_item .best_list ul {
  display: flex;
  justify-content: space-between;
}

#container .best_item .best_list ul li {
  text-align: center;
  word-break: keep-all;
}

#container .best_item .best_list ul li img {
  display: block;
  height: 450px;
  background-color: #F9F9F9;
  transition: background-color 0.3s linear;
}

#container .best_item .best_list ul li:hover img {
  background-color: #e3ece8;
}

#container .best_item .best_list ul li a {
  display: block;
  padding-bottom: 40px;
}

#container .best_item .best_list ul li strong {
  font-size: 2rem;
  font-weight: 500;
  color: #464646;
}

#container .best_item .best_list ul li p {
  font-size: 1.5rem;
  color: #A6A6A6;
  line-height: 26px;
}

#container .best_item .best_list ul li em {
  display: inline-block;
  padding-top: 6px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #464646;
}

#container .best_item .arrow_box01>.btn_prev {
  top: 60%;
  padding-left: 27px;
}

#container .best_item .arrow_box01>.btn_next {
  top: 60%;
  padding-right: 27px;
}

/*인스타그램*/
#container .instagram {
  padding: 150px 0;
  width: 100%;
}

#container .instagram span {
  display: block;
  font-size: 2.8rem;
  text-align: center;
  color: #666;
  line-height: 22px;
}

#container .instagram h3 {
  padding-bottom: 50px;
  font-family: 'MONT';
  font-size: 4.8rem;
  font-weight: 800;
  text-align: center;
}

#container .instagram .instagram_list {
  position: relative;  
}

#container .instagram .instagram_list ul li {
  display: flex;
  align-items: stretch;
  width: 1053px;
  height: 100%;
  object-fit: cover;
}

#container .instagram .instagram_list .insta_large {
  flex: 1 1 700px;
}

#container .instagram .instagram_list .insta_small {
  flex: 1 1 349px;
  display: flex;
  flex-direction: column;
}

#container .instagram .instagram_list .insta_small>div {
  flex: 1 1 349px;
  margin: 0 2px 2px;
}

#container .instagram .instagram_list ul li img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#container .instagram .instagram_list ul li a {
  position: relative;
  display: block;
  overflow: hidden;
}

#container .instagram .instagram_list ul li a::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.5s linear;
  opacity: 0;
  z-index: 1;
}

#container .instagram .instagram_list ul li a:hover::after {
  opacity: 1;
}

#container .instagram .instagram_list ul li .insta_small img {
  width: 349px;
  height: 349px;
}