@charset "utf-8";

/*Mont*/
@font-face {
    font-family: 'Mont';
    src: url('../font/Mont-ExtraLightDEMO.woff2') format('woff2'),
        url('../font/Mont-ExtraLightDEMO.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mont';
    src: url('../font/Mont-HeavyDEMO.woff2') format('woff2'),
        url('../font/Mont-HeavyDEMO.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
/*S-CoreDream*/
@font-face {
  font-family: 'S-Core Dream';
  src: url('../font/S-CoreDream-1Thin.woff2') format('woff2'),
       url('../font/S-CoreDream-1Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'S-Core Dream';
  src: url('../font/S-CoreDream-2ExtraLight.woff2') format('woff2'),
       url('../font/S-CoreDream-2ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'S-Core Dream';
  src: url('../font/S-CoreDream-3Light.woff2') format('woff2'),
       url('../font/S-CoreDream-3Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'S-Core Dream';
  src: url('../font/S-CoreDream-4Regular.woff2') format('woff2'),
       url('../font/S-CoreDream-4Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'S-Core Dream';
  src: url('../font/S-CoreDream-5Medium.woff2') format('woff2'),
       url('../font/S-CoreDream-5Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'S-Core Dream';
  src: url('../font/S-CoreDream-6Bold.woff2') format('woff2'),
       url('../font/S-CoreDream-6Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'S-Core Dream';
  src: url('../font/S-CoreDream-7ExtraBold.woff2') format('woff2'),
       url('../font/S-CoreDream-7ExtraBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'S-Core Dream 8';
  src: url('../font/S-CoreDream-8Heavy.woff2') format('woff2'),
       url('../font/S-CoreDream-8Heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'S-Core Dream';
  src: url('../font/S-CoreDream-9Black.woff2') format('woff2'),
       url('../font/S-CoreDream-9Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/*스크롤 부드럽게 처리*/
html{
  scroll-behavior: smooth;
}
html,
body{
  font-family: 'Jost','Mont','S-Core Dream',sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  color: #222;  
}
#wrap{
  overflow-x: hidden;
}
/*헤더영역*/
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
#header .header_inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 26px 74px;
  width: 100%;
}
/*gnb*/
#header .header_inner #gnb > ul{
  display: flex;
  justify-content: space-between;
}
#header .header_inner #gnb > ul > li{
  position: relative;
}
#header .header_inner #gnb > ul > li > a{  
  display: block;
  padding: 5px 18px;
  font-size: 1.8rem;
  font-weight: 500;
}
#header .header_inner #gnb > ul > li:first-child a{
  padding-left: 0;
}
#header .header_inner h1 a{
  display: block;
}
#header .header_inner h1 img{
  display: block;
  position: absolute;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
}
/*depth02(서브메뉴)*/
#header .header_inner #gnb > ul > li:hover > a{
  transform: scale(0.9);
  transition: 0.2s linear;
  color: #7A9783;
}
#header .header_inner #gnb > ul > li > ul.depth02{
  display: none;
  position: absolute;
  top: 50px;
  left: 15%;
  width: 100%;
  padding: 14px 0;  
  z-index:20;
}
#header .header_inner #gnb > ul > li > ul.depth02 > li > a{
  display: block;
  padding-top: 8px;
  font-size: 1.4rem;
  color: #333;  
}
#header .header_inner #gnb > ul > li > ul.depth02 > li:hover a{
  font-weight: 500;
  color: #222;
}
#header .header_inner #gnb > ul > li > ul.depth02 > li::after{
  content: "";
  position: absolute;
  transition: 0.3s linear;
  width: 100px;
}
#header .header_inner #gnb > ul > li > ul.depth02 > li:hover::after{
  width: 12px;
  background-color: #222;
  height: 1px;
}
#header #menuBg{
  display: none;
  position: absolute;
  left: 0;
  top: 76px;
  width: 100%;
  height: 240px;
  border-top: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 10;
}
/*util 영역*/
#header .header_inner .util_area ul{
  display: flex;
  align-items: center;
  column-gap: 20px;
}
#header .header_inner .util_area li button{
  border: 0;
  cursor: pointer;
}

/*모바일용 헤더*/

/*메인 비주얼 영역*/
#container .main_visual{
  position: relative;
}
#container .main_visual .txt_box{
  position: absolute;
  top: 378px;
  left: 240px;
}
#container .main_visual .txt_box>h2{  
  font-size: 5.0rem;
  font-weight: 500;  
  line-height: 60px;
}
#container .main_visual .txt_box>p{
  margin-top: 24px;
  font-size: 3.0rem;
  line-height: 30px;
}
#container .main_visual .txt_box>i{
  font-size: 2.4rem;
  line-height: 54px;
  color: #666;
}
#container .main_visual .txt_box>span{
  padding-bottom: 24px;
  font-size: 2.4rem;
  line-height: 50px;
}
#container .main_visual .txt_box>a{
  display: block;
  margin-top: 34px;
  padding: 10px 0;
  width: 140px;
  border: 1px solid #666;
  font-size:1.6rem;
  text-align: center;
}
#container .main_visual .txt_box>.btn_e04{
  display: block;
  margin-top: 254px;
  padding: 10px 0;
  width: 140px;
  border: 1px solid #666;
  font-size:1.6rem;
  text-align: center;
}
#container .main_visual .txt_box>a:hover{
  background-color: #333;
  color: #fff;
  transition: all 0.5s linear;
}
#container .swiper-button-next .btn_prev img,
#container .swiper-button-next .btn_next img{
  line-height: 0;
}
#container .swiper-button-next:after,.swiper-button-prev:after{
  display: none;
}

/*브랜드스토리*/
#container .brand_story .swiper .swiper-wrapper li.swiper-slide:nth-child(1){
  background: url(../images/main/brand_bg01.jpg) center center no-repeat;
  width: 100%;
  height: 810px;
  background-size: cover
}
#container .brand_story .swiper .swiper-wrapper li.swiper-slide:nth-child(2){
  border-left: 1px solid #fff;
}
#container .brand_story .swiper .swiper-wrapper li.swiper-slide:nth-child(3){
  border-left: 1px solid #fff;
}
#container .brand_story .swiper ul.swiper-wrapper{
  display: flex;
}
#container .brand_story .swiper .swiper-wrapper li .accordion_tit{  
  font-family: 'Mont';
  font-size: 4.0rem;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.65);
  writing-mode: sideways-lr;
  text-orientation: upright;
  border-left: 1px solid #fff;
}