@charset "UTF-8";

html,
body {
  overflow-x: hidden;
}

@media (hover: hover) {
  #header .header_inner #gnb>ul>li:hover>a {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    color: #193D35;
  }
}

/*breakpoint 1440*/
@media (max-width: 1440px) {

  /*메인 비주얼 영역*/
  #container .main_visual .txt_box {
    top: 250px;
    left: 180px;
  }

  #container .main_visual .txt_box>a {
    margin-top: 26px;
  }

  #container .main_visual .txt_box>.btn_e04 {
    margin-top: 226px;
  }

  #container .main_visual .txt_box>h2 {
    font-size: 4rem;
    line-height: 50px;
  }

  #container .main_visual .txt_box>p {
    margin-top: 20px;
    font-size: 2.4rem;
  }

  #container .main_visual .txt_box>i {
    font-size: 1.8rem;
    line-height: 46px;
  }

  /*브랜드스토리*/
  #container .brand_story {
    height: 608px;
  }

  /* 아코디언 구조 */
  #container .brand_story .accordion_item .accordion_title h2 {
    padding: 0 38px;
    font-size: 3.6rem;
  }

  #container .brand_story .accordion_item.active .accordion_cont {
    max-height: 608px;
  }

  #container .brand_story .accordion_item .info_wrap {
    padding: 70px 104px;
  }

  #container .brand_story .accordion_item .info_wrap h3 {
    font-size: 4.2rem;
  }

  #container .brand_story .accordion_item .info_wrap b {
    font-size: 3.6rem;
  }

  #container .brand_story .accordion_item .info_wrap ul {
    margin-top: 30px;
    padding: 46px;
    width: 98%;
  }

  #container .brand_story .accordion_item .info_wrap ul li {
    font-size: 2.4rem;
    line-height: 52px;
  }

  #container .brand_story .accordion_item .info_wrap ul li img {
    width: 24px;
  }

  #container .brand_story .accordion_item .info_wrap p {
    padding-top: 20px;
    font-size: 1.8rem;
  }

  /*제품유형바로가기*/
  #container .product_type {
    width: 1200px;
  }

  #container .product_type .type_list ul li img {
    width: 110px;
  }

  /*베스트아이템*/
  #container .best_item .best_list {
    margin: 0 auto;
    width: 1200px;
  }

  #container .best_item .best_list ul li img {
    height: 378px;
  }

  #container .best_item .best_list ul li a {
    padding-bottom: 30px;
  }

  #container .best_item .best_list ul li strong {
    font-size: 1.8rem;
  }

  /*인스타그램*/
  #container .instagram .instagram_list ul li {
    width: 843px;
  }

  #container .instagram .instagram_list .insta_large {
    flex: 1 1 560px;
  }

  #container .instagram .instagram_list .insta_small {
    flex: 1 1 279px;
  }

  #container .instagram .instagram_list .insta_small>div {
    flex: 1 1 279px;
  }

  #container .instagram .instagram_list ul li .insta_large img {
    width: 560px;
    height: 560px;
  }

  #container .instagram .instagram_list ul li .insta_small img {
    width: 279px;
    height: 279px;
  }

  /*푸터영역*/
  #footer {
    padding: 55px 0 40px;
  }

  #footer .footer_inner {
    width: 1280px;
  }

  #footer .footer_inner .copy {
    padding-top: 60px;
  }
}

/*breakpoint 1280*/
@media (max-width: 1280px) {

  /*헤더영역*/
  #header .header_inner {
    padding: 26px 56px;
  }

  /*gnb*/
  #header .header_inner #gnb>ul>li>a {
    padding: 5px 10px;
    font-size: 1.6rem;
  }

  #header .header_inner h1 img {
    width: 160px;
  }

  /*util 영역*/
  #header .header_inner .util_area ul {
    column-gap: 16px;
  }

  #header .header_inner .util_area ul li img {
    width: 24px;
  }

  /*메인 비주얼 영역*/
  #container .main_visual .txt_box {
    top: 220px;
    left: 160px;
  }

  #container .main_visual .txt_box>.btn_e04 {
    margin-top: 210px;
  }

  /*브랜드스토리*/
  #container .brand_story {
    height: 558px;
  }

  #container .brand_story .accordion_item.active .accordion_cont {
    max-height: 558px;
  }

  #container .brand_story .accordion_item .info_wrap {
    padding: 58px 88px;
  }

  #container .brand_story .accordion_item .info_wrap h3 {
    font-size: 3.8rem;
  }

  #container .brand_story .accordion_item .info_wrap b {
    font-size: 3rem;
  }

  #container .brand_story .accordion_item .info_wrap ul {
    padding: 42px;
    width: 96%;
  }

  #container .brand_story .accordion_item .info_wrap ul li {
    font-size: 2.4rem;
    line-height: 52px;
  }

  #container .brand_story .accordion_item .info_wrap ul li img {
    width: 20px;
  }

  /*제품유형바로가기*/
  #container .product_type {
    margin: 98px auto;
    width: 1024px;
  }

  /*베스트아이템*/
  #container .best_item h3 {
    padding: 8px 0 48px;
  }

  #container .best_item .best_list {
    width: 1024px;
  }

  #container .best_item .best_list ul li img {
    height: 324px;
  }

  #container .best_item .best_list ul li strong {
    font-size: 1.6rem;
  }

  #container .best_item .best_list ul li p {
    font-size: 1.3rem;
  }

  /*인스타그램*/
  #container .instagram {
    padding: 110px 0;
  }

  #container .instagram h3 {
    padding-bottom: 24px;
  }

  /*푸터영역*/
  #footer {
    padding: 38px 0 32px;
  }

  #footer .footer_inner {
    width: 1100px;
  }

  #footer .footer_inner .copy {
    padding-top: 32px;
  }

  #footer .footer_inner .footer_logo img {
    width: 100px;
  }

  #footer .footer_inner .company_info {
    font-size: 1.4rem;
  }

  #footer .footer_inner .cs h4 {
    font-size: 1.5rem;
  }

  #footer .footer_inner .sns_area img {
    width: 30px;
    height: 30px;
  }

  #footer .footer_inner .sns_area a {
    padding-right: 8px;
  }

  #footer .footer_inner .cs strong {
    font-size: 2.4rem;
  }

  #footer .footer_inner .cs p {
    padding-top: 5px;
    font-size: 1.3rem;
    line-height: 22px;
  }

  #footer .footer_inner .fnb a {
    padding: 1px 0;
    font-size: 1.4rem;
  }

  #footer .footer_inner .partnership h4 {
    padding-top: 14px;
    font-size: 1.4rem;
  }

  #footer .footer_inner .partnership p {
    font-size: 1.6rem;
  }

  /*퀵영역*/
  #quick_area img {
    width: 40px;
  }
}

/*breakpoint 1024*/
@media (max-width: 1024px) {

  #header .header_inner {
    padding: 26px;
  }

  #header .header_inner #gnb {
    display: none;
  }

  /*햄버거 버튼 및 모바일 메뉴 활성화*/
  #header .header_inner .btn_hamburger {
    position: absolute;
    left: 20px;
    top: 34%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 20px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    z-index: 210;
  }

  #header .header_inner .btn_hamburger {
    opacity: 1;
    visibility: visible;
  }

  #header .header_inner .btn_hamburger span {
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: 0.3s;
  }

  #header .btn_hamburger.open span:first-child {
    transform: translateY(9px) rotate(45deg);
    background-color: #fff;
  }

  #header .btn_hamburger.open span:nth-child(2) {
    opacity: 0;
  }

  #header .btn_hamburger.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
    background-color: #fff;
  }

  #header .header_inner .mo_menu_container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    width: 70%;
    height: 100vh;
    padding: 90px 46px;
    background-color: #7A9783;
    transform: translateX(-100%);
    transition: 0.3s ease-out;
  }

  #header .header_inner .mo_menu_container.open {
    transform: translateX(0);
  }

  #header .header_inner .mo_menu_container .mo_gnb>ul>li {
    padding-bottom: 16px;
  }

  #header .header_inner .mo_menu_container .mo_gnb ul>li a {
    display: block;
    font-size: 1.8rem;
    color: #fff;
    text-transform: uppercase;
  }

  #header .header_inner .mo_menu_container .mo_gnb li>.depth02 {
    display: none;
    margin-top: 8px;
    padding: 10px 12px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  #header .header_inner .mo_menu_container .mo_gnb li>.depth02 a {
    display: block;
    padding: 5px 0;
    font-size: 1.4rem;
    font-weight: 500;
    color: #333;
    text-align: left;
  }

  /*메인 비주얼 영역*/
  #container .main_visual .txt_box {
    position: absolute;
    top: 150px;
    left: 122px;
  }

  #container .main_visual .txt_box>span {
  padding-bottom: 24px;
  font-size: 2.4rem;
  line-height: 50px;
}

  #container .main_visual .txt_box>h2 {
    font-size: 3.6rem;
    line-height: 44px;
  }

  #container .main_visual .txt_box>p {
    margin-top: 18px;
    font-size: 2rem;
  }

  #container .main_visual .txt_box>i {
    font-size: 1.6rem;
    line-height: 30px;
  }
  
  #container .main_visual .txt_box>a {
    margin-top: 16px;
    padding: 8px 0;
    font-size: 1.4rem;
  }

  #container .main_visual .txt_box>.btn_e04 {
    margin-top: 188px;
    padding: 8px 0;
  }

  #container .swiper-button-prev.btn_prev img,
  #container .swiper-button-next.btn_next img {
    width: 40px;
  }

}