@charset "UTF-8";

html,
body {
  overflow-x: hidden;
}

@media (hover: hover) {
  #header .header_inner #gnb>ul>li:hover>a {
    color: #193D35;
  }
}

/* =========================================
   중단점: 1440px
   ========================================= */
/*메인 1440px*/
@media (max-width: 1440px) {

  /*검색창*/
  #full-search-container {
    height: 43%;
  }

  .search-content {
    max-width: 800px;
    margin: 100px auto 0;
    padding: 10px;
  }

  #search-close-btn {
    top: -80px;
    right: 0;
  }

  /* 검색 입력 필드 스타일 */
  .search-form-wrap {
    margin-bottom: 24px;
  }

  #search-input {
    font-size: 1.6rem;
  }

  /* 인기 검색어 스타일 */
  .search-trending .title {
    font-size: 1.4rem;
    margin-bottom: 2px;
  }

  .search-trending .hashtags span {
    font-size: 1.4rem;
  }

  /*메인 비주얼 영역*/
  #container .main_visual .txt_box {
    top: 250px;
    left: 180px;
  }

  #container .main_visual .txt_box>a {
    margin-top: 26px;
  }

  #container .main_visual .txt_box>.btn_e04 {
    margin-top: 226px;
  }

  #container .main_visual .txt_box>h2 {
    font-size: 4rem;
    line-height: 50px;
  }

  #container .main_visual .txt_box>p {
    margin-top: 20px;
    font-size: 2.4rem;
  }

  #container .main_visual .txt_box>i {
    font-size: 1.8rem;
    line-height: 46px;
  }

  /*브랜드스토리*/
  #container .brand_story {
    height: 608px;
  }

  /* 아코디언 구조 */
  #container .brand_story .accordion_item .accordion_title h2 {
    padding: 0 38px;
    font-size: 3.6rem;
  }

  #container .brand_story .accordion_item.active .accordion_cont {
    max-height: 608px;
  }

  #container .brand_story .accordion_item .info_wrap {
    padding: 70px 104px;
  }

  #container .brand_story .accordion_item .info_wrap h3 {
    font-size: 4.2rem;
  }

  #container .brand_story .accordion_item .info_wrap b {
    font-size: 3.6rem;
  }

  #container .brand_story .accordion_item .info_wrap ul {
    margin-top: 30px;
    padding: 46px;
    width: 98%;
  }

  #container .brand_story .accordion_item .info_wrap ul li {
    font-size: 2.4rem;
    line-height: 52px;
  }

  #container .brand_story .accordion_item .info_wrap ul li img {
    width: 24px;
  }

  #container .brand_story .accordion_item .info_wrap p {
    padding-top: 20px;
    font-size: 1.8rem;
  }

  /*제품유형바로가기*/
  #container .product_type {
    width: 1200px;
  }

  #container .product_type .type_list ul li img {
    width: 110px;
  }

  /*베스트아이템*/
  #container .best_item .best_list {
    margin: 0 auto;
    width: 1200px;
  }

  #container .best_item .best_list ul li img {
    height: 378px;
  }

  #container .best_item .best_list ul li a {
    padding-bottom: 30px;
  }

  #container .best_item .best_list ul li strong {
    font-size: 1.8rem;
  }

  /*인스타그램*/
  #container .instagram .instagram_list ul li {
    width: 843px;
  }

  #container .instagram .instagram_list .insta_large {
    flex: 1 1 560px;
  }

  #container .instagram .instagram_list .insta_small {
    flex: 1 1 279px;
  }

  #container .instagram .instagram_list .insta_small>div {
    flex: 1 1 279px;
  }

  #container .instagram .instagram_list ul li .insta_large img {
    width: 560px;
    height: 560px;
  }

  #container .instagram .instagram_list ul li .insta_small img {
    width: 279px;
    height: 279px;
  }

  /*푸터영역*/
  #footer {
    padding: 55px 0 40px;
  }

  #footer .footer_inner {
    width: 1280px;
  }

  #footer .footer_inner .copy {
    padding-top: 60px;
  }
}

/*서브전용 1440px*/
@media (max-width: 1440px) {

  /*브랜드스토리*/
   #container .brand-content {
    max-width: 1440px;
  }

   #container .brand-content .identity img {
    max-width: 720px;
    width: 100%;
  }

   #container .brand-content .identity .text-area {
    padding: 60px;
    max-width: 720px;
    width: 100%;
  }

   #container .brand-content .identity .text-area h4 {
    margin-bottom: 24px;
    font-size: 2.2rem;
  }

   #container .brand-content .identity .text-area p {
    margin-bottom: 20px;
    font-size: 1.8rem;
    line-height: 32px;
  }

   #container .brand-content .value .value-list {
    padding: 60px;
    max-width: 720px;
    width: 100%;
  }

   #container .brand-content .value img {
    max-width: 720px;
    width: 100%;
  }

   #container .brand-content .value .value-list b {
    margin-bottom: 3px;
    font-size: 2.2rem;
  }

   #container .brand-content .value .value-list p {
    margin-bottom: 12px;
    font-size: 1.7rem;
    line-height: 30px;
  }

   #container .brand-slogan {
    margin: 132px 0 142px;
  }

  /*제품소개list*/
  #container .product {
    max-width: 1200px;
  }

  #container .product .list-header .sort-dropdown select {
    padding: 10px;
    font-size: 1.4rem;
  }

  #container .product .product-list li img {
    height: 282px;
  }

  #container .product .product-list li .name {
    font-size: 1.6rem;
  }

  /*제품 상세페이지*/
  #container .detail-container {
    max-width: 1200px;
    gap: 60px;
  }

  /*제품 상세 탭*/
  #container .detail-tabs {
    max-width: 1200px;
  }

  /*이벤트*/
  #container .event {
    margin: 110px auto;
    max-width: 1200px;
  }

  #container .event .event-list .tab_content ul li img {
    width: 100%;
  }

  /*공지사항*/
  #container .notice {
    margin: 110px auto 0;
    max-width: 1200px;
  }
}

/* =========================================
   중단점: 1280px
   ========================================= */
/*메인 1280px*/
@media (max-width: 1280px) {

  /* 메인 페이지 헤더 */
  #header .header_inner {
    padding: 26px 56px;
  }

  /*gnb*/
  #header .header_inner #gnb>ul>li>a {
    padding: 5px 10px;
    font-size: 1.6rem;
  }

  #header .header_inner h1 img {
    width: 160px;
  }

  /*util 영역*/
  #header .header_inner .util_area ul {
    column-gap: 16px;
  }

  #header .header_inner .util_area ul li img {
    width: 24px;
  }

  /*메인 비주얼 영역*/
  #container .main_visual .txt_box {
    top: 220px;
    left: 160px;
  }

  #container .main_visual .txt_box>.btn_e04 {
    margin-top: 210px;
  }

  /*브랜드스토리*/
  #container .brand_story {
    height: 558px;
  }

  #container .brand_story .accordion_item.active .accordion_cont {
    max-height: 558px;
  }

  #container .brand_story .accordion_item .info_wrap {
    padding: 58px 88px;
  }

  #container .brand_story .accordion_item .info_wrap h3 {
    font-size: 3.8rem;
  }

  #container .brand_story .accordion_item .info_wrap b {
    font-size: 3rem;
  }

  #container .brand_story .accordion_item .info_wrap ul {
    padding: 42px;
    width: 96%;
  }

  #container .brand_story .accordion_item .info_wrap ul li {
    font-size: 2.4rem;
    line-height: 52px;
  }

  #container .brand_story .accordion_item .info_wrap ul li img {
    width: 20px;
  }

  /*제품유형바로가기*/
  #container .product_type {
    margin: 98px auto;
    width: 1024px;
  }

  /*베스트아이템*/
  #container .best_item h3 {
    padding: 8px 0 48px;
  }

  #container .best_item .best_list {
    width: 1024px;
  }

  #container .best_item .best_list ul li img {
    height: 324px;
  }

  #container .best_item .best_list ul li strong {
    font-size: 1.6rem;
  }

  #container .best_item .best_list ul li p {
    font-size: 1.3rem;
  }

  /*인스타그램*/
  #container .instagram {
    padding: 110px 0;
  }

  #container .instagram h3 {
    padding-bottom: 24px;
  }

  /*푸터영역*/
  #footer {
    padding: 38px 90px 32px;
  }

  #footer .footer_inner {
    width: 100%;
  }

  #footer .footer_inner .copy {
    padding-top: 32px;
  }

  #footer .footer_inner .footer_logo img {
    width: 100px;
  }

  #footer .footer_inner .company_info {
    font-size: 1.4rem;
  }

  #footer .footer_inner .cs h4 {
    font-size: 1.5rem;
  }

  #footer .footer_inner .sns_area img {
    width: 30px;
    height: 30px;
  }

  #footer .footer_inner .sns_area a {
    padding-right: 8px;
  }

  #footer .footer_inner .cs strong {
    font-size: 2.4rem;
  }

  #footer .footer_inner .cs p {
    padding-top: 5px;
    font-size: 1.3rem;
    line-height: 22px;
  }

  #footer .footer_inner .fnb a {
    padding: 1px 0;
    font-size: 1.4rem;
  }

  #footer .footer_inner .partnership h4 {
    padding-top: 14px;
    font-size: 1.4rem;
  }

  #footer .footer_inner .partnership p {
    font-size: 1.6rem;
  }

  /*퀵영역*/
  #quick_area img {
    width: 40px;
  }
}

/*서브전용 1280px*/
@media (max-width: 1280px) {

  /* 서브 페이지 공통 헤더 */
  body.sub-page #header .header_inner {
    padding: 26px 56px;
  }

  /*gnb*/
  body.sub-page #header .header_inner #gnb>ul>li>a {
    padding: 5px 10px;
    font-size: 1.6rem;
  }

  body.sub-page #header .header_inner h1 img {
    width: 160px;
  }

  /*util 영역*/
  body.sub-page #header .header_inner .util_area ul {
    column-gap: 16px;
  }

  body.sub-page #header .header_inner .util_area ul li img {
    width: 24px;
  }

  /*브랜드스토리*/
   #container .brand-content {
    max-width: 1280px;
  }

   #container .brand-content .identity img {
    max-width: 640px;
  }

   #container .brand-content .identity .text-area {
    padding: 48px 0 0 50px;
    max-width: 640px;
  }

   #container .brand-content .value .value-list {
    padding: 48px 0 0 50px;
    max-width: 640px;
  }

   #container .brand-content .value img {
    max-width: 640px;
  }

   #container .brand-content .value .value-list p {
    line-height: 28px;
  }

  /*제품 상세페이지*/
  #container .detail-tabs #detail-content {
    max-width: 860px;
  }
}

/* =========================================
   중단점: 1024px
   ========================================= */
/*메인 1024px*/
@media (max-width: 1024px) {

  /* 메인 페이지 헤더 */
  #header .header_inner {
    padding: 26px;
  }

  #header .header_inner #gnb {
    display: none;
  }

  /*햄버거 버튼 및 모바일 메뉴 활성화*/
  #header .header_inner .btn_hamburger {
    position: absolute;
    left: 20px;
    top: 34%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    z-index: 210;
  }

  #header .header_inner .btn_hamburger {
    opacity: 1;
    visibility: visible;
  }

  #header .header_inner .btn_hamburger span {
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: 0.3s;
  }

  #header .btn_hamburger.open span:first-child {
    transform: translateY(9px) rotate(45deg);
    background-color: #fff;
  }

  #header .btn_hamburger.open span:nth-child(2) {
    opacity: 0;
  }

  #header .btn_hamburger.open span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
    background-color: #fff;
  }

  #header .header_inner .mo_menu_container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    width: 70%;
    height: 100vh;
    padding: 90px 46px;
    background-color: #7A9783;
    transform: translateX(-100%);
    transition: 0.3s ease-out;
  }

  #header .header_inner .mo_menu_container.open {
    transform: translateX(0);
  }

  #header .header_inner .mo_menu_container .mo_gnb>ul>li {
    padding-bottom: 16px;
  }

  #header .header_inner .mo_menu_container .mo_gnb ul>li a {
    display: block;
    font-size: 1.8rem;
    color: #fff;
    text-transform: uppercase;
  }

  #header .header_inner .mo_menu_container .mo_gnb li>.depth02 {
    display: none;
    margin-top: 8px;
    padding: 10px 12px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  #header .header_inner .mo_menu_container .mo_gnb li>.depth02 a {
    display: block;
    padding: 5px 0;
    font-size: 1.4rem;
    font-weight: 500;
    color: #333;
    text-align: left;
  }

  /*메인 비주얼 영역*/
  #container .main_visual .txt_box {
    position: absolute;
    top: 150px;
    left: 122px;
  }

  #container .main_visual .txt_box>span {
    font-size: 2rem;
    line-height: 32px;
  }

  #container .main_visual .txt_box>h2 {
    font-size: 3.6rem;
    line-height: 44px;
  }

  #container .main_visual .txt_box>p {
    margin-top: 18px;
    font-size: 2rem;
  }

  #container .main_visual .txt_box>i {
    font-size: 1.6rem;
    line-height: 30px;
  }

  #container .main_visual .txt_box>a {
    margin-top: 16px;
    padding: 8px 0;
    font-size: 1.4rem;
  }

  #container .main_visual .txt_box>.btn_e04 {
    margin-top: 188px;
    padding: 8px 0;
  }

  #container .swiper-button-prev.btn_prev img,
  #container .swiper-button-next.btn_next img {
    width: 40px;
  }

  /*브랜드스토리*/
  #container .brand_story {
    height: 458px;
  }

  /* 아코디언 구조 */
  #container .brand_story .accordion_item .accordion_title h2 {
    padding: 0 31px;
    font-size: 3rem;
  }

  #container .brand_story .accordion_item.active .accordion_cont {
    max-height: 458px;
  }

  #container .brand_story .accordion_item .info_wrap {
    padding: 64px;
  }

  #container .brand_story .accordion_item .info_wrap h3 {
    font-size: 3rem;
  }

  #container .brand_story .accordion_item .info_wrap b {
    padding-left: 12px;
    font-size: 2.4rem;
  }

  #container .brand_story .accordion_item .info_wrap ul {
    margin-top: 18px;
    padding: 24px;
    width: 93%;
  }

  #container .brand_story .accordion_item .info_wrap ul li {
    font-size: 1.8rem;
    line-height: 42px;
  }

  #container .brand_story .accordion_item .info_wrap ul li img {
    width: 16px;
  }

  #container .brand_story .accordion_item .info_wrap p {
    padding-top: 14px;
    font-size: 1.4rem;
  }

  /*제품유형바로가기*/
  #container .product_type {
    margin: 86px auto;
    padding: 0 30px;
    width: 100%;
  }

  #container .product_type .type_list ul {
    font-size: 1.2rem;
    font-weight: 400;
  }

  /*베스트아이템*/
  #container .best_item h3 {
    padding: 8px 0 24px;
    font-size: 4rem;
  }

  #container .best_item .best_list {
    padding: 0 30px;
    width: 100%;
  }

  #container .best_item .best_list ul li a {
    padding-bottom: 22px;
  }

  #container .best_item .best_list ul li img {
    height: 308px;
  }

  #container .best_item .best_list ul li strong {
    font-size: 1.4rem;
  }

  #container .best_item .best_list ul li p {
    font-size: 1.2rem;
  }

  #container .best_item .best_list ul li em {
    padding-top: 2px;
    font-size: 1.4rem;
    font-weight: 400;
  }

  #container .best_item .arrow_box01 .btn_prev01 img,
  #container .best_item .arrow_box01 .btn_next01 img {
    width: 24px;
  }

  /*인스타그램*/
  #container .instagram {
    padding: 98px 0;
  }

  #container .instagram span {
    font-size: 2.2rem;
  }

  #container .instagram h3 {
    padding-bottom: 24px;
    font-size: 4rem;
  }

  /*푸터영역*/
  #footer {
    padding: 30px 48px 20px;
  }

  #footer .footer_inner {
    width: 100%;
  }

  #footer .footer_inner .footer_logo {
    padding-top: 2px;
  }

  #footer .footer_inner .company_info {
    font-size: 1.2rem;
    line-height: 20px;
  }

  #footer .footer_inner .cs h4 {
    font-size: 1.2rem;
  }

  #footer .footer_inner .sns_area img {
    width: 24px;
    height: 24px;
  }

  #footer .footer_inner .sns_area a {
    padding-right: 6px;
  }

  #footer .footer_inner .cs strong {
    font-size: 1.6rem;
  }

  #footer .footer_inner .cs p {
    padding-top: 3px;
    font-size: 1.2rem;
    line-height: 18px;
  }

  #footer .footer_inner .fnb a {
    padding: 0;
    font-size: 1.2rem;
  }

  #footer .footer_inner .partnership h4 {
    padding-top: 8px;
    font-size: 1.2rem;
  }

  #footer .footer_inner .partnership p {
    font-size: 1.2rem;
  }

  #footer .footer_inner .copy {
    padding-top: 20px;
    font-size: 1.3rem;
  }
}

/*서브전용 1024px*/
@media (max-width: 1024px) {

  /* 서브 페이지 공통 헤더 */
  body.sub-page #header .header_inner {
    padding: 26px;
  }

  body.sub-page #header .header_inner #gnb {
    display: none;
  }

  /*햄버거 버튼 및 모바일 메뉴 활성화*/
  body.sub-page #header .header_inner .btn_hamburger {
    position: absolute;
    left: 20px;
    top: 34%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    z-index: 210;
  }

  body.sub-page #header .header_inner .btn_hamburger {
    opacity: 1;
    visibility: visible;
  }

  body.sub-page #header .header_inner .btn_hamburger span {
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: 0.3s;
  }

  body.sub-page #header .header_inner .btn_hamburger span {
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: 0.3s;
  }

  body.sub-page #header .btn_hamburger.open span:first-child {
    transform: translateY(9px) rotate(45deg);
    background-color: #fff;
  }

  body.sub-page #header .btn_hamburger.open span:nth-child(2) {
    opacity: 0;
  }

  body.sub-page #header .btn_hamburger.open span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
    background-color: #fff;
  }

  body.sub-page #header .header_inner .mo_menu_container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    width: 70%;
    height: 100vh;
    padding: 90px 46px;
    background-color: #7A9783;
    transform: translateX(-100%);
    transition: 0.3s ease-out;
  }

  body.sub-page #header .header_inner .mo_menu_container.open {
    transform: translateX(0);
  }

  body.sub-page #header .header_inner .mo_menu_container .mo_gnb>ul>li {
    padding-bottom: 16px;
  }

  body.sub-page #header .header_inner .mo_menu_container .mo_gnb ul>li a {
    display: block;
    font-size: 1.8rem;
    color: #fff;
    text-transform: uppercase;
  }

  body.sub-page #header .header_inner .mo_menu_container .mo_gnb li>.depth02 {
    display: none;
    margin-top: 8px;
    padding: 10px 12px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  body.sub-page #header .header_inner .mo_menu_container .mo_gnb li>.depth02 a {
    display: block;
    padding: 5px 0;
    font-size: 1.4rem;
    font-weight: 500;
    color: #333;
    text-align: left;
  }

  #container .sub_visual .txt_box p {
    font-size: 1.5rem;
    font-weight: 400;
  }

   #container .brand-intro h3 {
    margin-top: 100px;
    font-size: 4rem;
  }

   #container .brand-intro span {
    padding: 14px 0 18px;
  }

   #container .brand-intro .intro-text {
    margin-bottom: 78px;
  }

   #container .brand-intro .intro-text strong {
    padding-bottom: 24px;
    font-size: 2.2rem;
  }

   #container .brand-intro .intro-text p {
    font-size: 1.6rem;
    line-height: 28px;
  }

   #container .brand-content {
    max-width: 1024px;
  }

   #container .brand-content .identity img {
    max-width: 512px;
  }

   #container .brand-content .identity .text-area {
    padding: 30px 0 0 36px;
    max-width: 512px;
  }

   #container .brand-content .identity .text-area h4 {
    margin-bottom: 16px;
    font-size: 2rem;
  }

   #container .brand-content .identity .text-area p {
    margin-bottom: 14px;
    font-size: 1.5rem;
    line-height: 26px;
  }

   #container .brand-content .value .value-list {
    padding: 30px 0 0 36px;
    max-width: 512px;
  }

   #container .brand-content .value img {
    max-width: 512px;
  }

   #container .brand-content .value .value-list b {
    margin-bottom: 3px;
    font-size: 1.8rem;
  }

   #container .brand-content .value .value-list p {
    margin-bottom: 8px;
    font-size: 1.5rem;
    line-height: 24px;
  }

   #container .brand-slogan {
    margin: 110px 0 122px;
  }

  #container .brand-slogan h4 {
    font-size: 4rem;
  }

  #container .brand-slogan span {
    padding: 14px 0 18px;
  }

  #container .brand-slogan strong {
    font-size: 2.4rem;
  }

  #container .brand-slogan p {
    margin-top: 16px;
    font-size: 1.8rem;
    line-height: 36px;
  }

  /*제품유형 선택*/
  #container .product-type {
    margin: 98px 0 42px;
  }

  #container .product-type .filter {
    margin-bottom: 18px;
  }

  #container .product-type .cate-list {
    font-size: 1.4rem;
  }

  /*제품소개list*/
  #container .product {
    max-width: 920px;
  }

  #container .product .product-list {
    gap: 36px 12px
  }

  #container .product .product-list li {
    width: calc((100% - 24px) / 3);
  }

  #container .product .product-list li img {
    width: 100%;
    height: 100%;
  }

  /*페이지네이션*/
  #container .product .pagination {
    margin: 60px 0 136px;
  }

  /*제품 상세페이지*/
  #container .detail-container {
    margin: 120px auto 100px;
    padding: 0 20px;
    max-width: 1024px;
    gap: 40px;
  }

  /*좌측 이미지영역*/
  #container .detail-container .image-area {
    max-width: 472px;
  }

  /*우측 제품정보 영역*/
  #container .detail-container .info-area {
    max-width: 472px;
  }

  #container .detail-container .info-area br {
    display: none;
  }

  #container .detail-container .info-area .header {
    margin-bottom: 40px;
  }

  #container .detail-container .info-area img {
    width: 40px;
  }

  #container .detail-container .info-area .btn-share>img {
    width: 24px;
  }

  #container .detail-container .info-area h3 {
    font-size: 2.6rem;
  }

  #container .detail-container .info-area b {
    font-size: 1.8rem;
  }

  #container .detail-container .info-area .description em {
    font-size: 1.8rem;
  }

  #container .detail-container .info-area .description ul {
    margin: 14px 0;
  }

  #container .detail-container .info-area .description li {
    padding: 2px 0;
    font-size: 1.6rem;
  }

  #container .detail-container .info-area strong {
    font-size: 2rem;
  }

  #container .detail-container .info-area .btn-buy {
    margin-top: 33px;
    padding: 14px 0 13px;
    font-size: 1.8rem;
  }

  #container .detail-tabs .tab-nav .tab-link {
    padding: 15px 80px;
    font-size: 1.7rem;
  }

  #container .detail-tabs .tab-nav .tab-link.active {
    font-size: 1.7rem;
  }

  #container .detail-tabs .fixed-tab-wrapper {
    padding-top: 50px;
  }

  #container .detail-tabs .info-notice {
    padding: 0 30px;
  }

  #container .detail-tabs .info-notice h4 {
    font-size: 1.8rem;
  }

  /* DT (항목명) 및 DD (내용) 공통 스타일 */
  #container .detail-tabs .info-notice .info-list dt,
  #container .detail-tabs .info-notice .info-list dd {
    padding: 16px 24px 14px;
  }

  /*이벤트*/
  #container .event {
    margin: 98px auto;
    max-width: 920px;
  }

  /*이벤트 탭*/
  #container .event .tabs {
    margin: 0 auto 36px;
  }

  #container .event .tabs li {
    padding-bottom: 14px;
    font-size: 1.8rem;
  }

  /*이벤트 리스트*/
  #container .event .event-list .tab_content ul {
    column-gap: 18px;
    row-gap: 60px;
  }

  #container .event .event-list .tab_content .event-info {
    padding-top: 26px;
  }

  #container .event .event-list .tab_content .event-info .title {
    font-size: 1.6rem;
  }

  #container .event .event-list .tab_content .event-info .date {
    font-size: 1.4rem;
    line-height: 30px;
  }

  /*게시판-검색*/
  #container .event .search {
    margin-top: 68px;
    padding-top: 18px;
    gap: 4px;
  }

  #container .search {
    gap: 4px;
  }

  #container .event .search .dropdown select,
  #container .search .dropdown select {
    padding: 10px;
    width: 134px;
    font-size: 1.2rem;
  }

  #container .event .search .input-box .search-input,
  #container .search .input-box .search-input {
    padding: 11px;
    width: 400px;
    font-size: 1.2rem;
  }

  #container .event .search .search-btn,
  #container .search .search-btn {
    height: 41px;
    width: 72px;
    font-size: 1.2rem;
  }

  /*게시판-페이지네이션*/
  #container .event .pagination,
  #container .pagination {
    margin: 62px 0 140px;
  }

  /*문의하기*/
  #container .contact {
    margin: 98px auto 30px;
  }

  #container .contact h3 {
    font-size: 3.2rem;
  }

  #container .contact em {
    margin-bottom: 60px;
    font-size: 1.6rem;
  }

  #container .contact .contact-form {
    padding: 20px 144px 120px;
    border: 0;
    font-size: 1.4rem;
  }

  #container .contact .contact-form label {
    margin-bottom: 6px;
    font-size: 1.6rem;
  }

  #container .contact .contact-form .privacy strong {
    margin-bottom: 6px;
    font-size: 1.6rem;
  }

  #container .contact .contact-form .privacy .agreement-box {
    padding: 13px;
  }

  #container .contact .contact-form .privacy .consent-checkbox span {
    font-size: 1.6rem;
  }

  #container .contact .contact-form .submit-button {
    padding: 14px 0;
    width: 100%;
    font-size: 1.6rem;
  }

  /*공지사항*/
  #container .notice {
    margin: 98px auto 0;
    max-width: 920px;
  }

  #container .notice h3 {
    margin-bottom: 48px;
    font-size: 3.2rem;
  }

  /*공지사항 리스트*/
  #container .notice .notice-board thead th {
    padding: 12px 0;
    font-size: 1.3rem;
  }

  #container .notice .notice-board tbody td {
    padding: 18px 0;
    font-size: 1.3rem;
  }

  /*공지사항_view*/
  #container .notice .view-header {
    padding: 32px 20px;
  }

  #container .notice .view-header h4 {
    margin-bottom: 8px;
    font-size: 2rem;
  }

  #container .notice .view-header .post-meta {
    font-size: 1.4rem;
  }

  /*공지사항 내용*/
  #container .notice .view-content {
    min-height: 350px;
    padding: 30px 20px 50px;
    font-size: 1.4rem;
    line-height: 30px;
  }

  #container .notice .view-actions {
    padding: 16px 0;
  }

  /*목록버튼*/
  #container .notice .btn-list {
    padding: 10px 24px;
  }

  /*이전글/다음글*/
  #container .notice .nav-item {
    padding: 12px 10px;
    font-size: 1.3rem;
  }

  #container .notice .nav-item a {
    font-size: 1.3rem;
  }
}

/* =========================================
   중단점: 960px
   ========================================= */
/*메인 960px*/
@media (max-width: 960px) {

  /*검색창*/
  #full-search-container {
    height: 37%;
  }

  .search-content {
    max-width: 700px;
    margin: 74px auto 0;
  }

  #search-close-btn {
    top: -54px;
    right: 0;
  }

  #container .brand_story .accordion_item.active .accordion_cont {
    overflow-y: auto;
  }

  /*제품유형바로가기*/
  #container .product_type .type_list ul li img {
    width: 92px;
  }

  #container .best_item .best_list ul li img {
    height: 292px;
  }
}

/*서브전용 960px*/
@media (max-width: 960px) {

   #container .brand-content {
    max-width: 960px;
  }

   #container .brand-content .identity img {
    max-width: 480px;
  }

   #container .brand-content .identity .text-area {
    padding: 30px 0 0 36px;
    max-width: 480px;
  }

   #container .brand-content .identity .text-area h4 {
    font-size: 1.8rem;
  }

   #container .brand-content .identity .text-area p {
    margin-bottom: 10px;
  }

   #container .brand-content .value .value-list {
    padding: 30px 0 0 36px;
    max-width: 480px;
  }

   #container .brand-content .value img {
    max-width: 480px;
  }

   #container .brand-content .value .value-list b {
    margin-bottom: 3px;
    font-size: 1.6rem;
  }

   #container .brand-content .value .value-list p {
    line-height: 22px;
  }

  /*제품소개list*/
  #container .product .list-header .sort-dropdown select {
    font-size: 1.3rem;
  }

  /*문의하기*/
  #container .contact .contact-form {
    padding: 20px 100px 120px;
  }

  /*공지사항 리스트*/
  #container .notice {
    padding: 0 30px;
  }
}

/* =========================================
   중단점: 768px
   ========================================= */
/*메인 768px*/
@media (max-width: 768px) {

  /* 메인 페이지 헤더 */
  #header .header_inner h1 img {
    width: 130px;
  }

  .search-content {
    max-width: 550px;
  }

  /*메인 비주얼 영역*/
  #container .main_visual .txt_box {
    top: 114px;
    left: 90px;
  }

  #container .main_visual .txt_box>span {
    font-size: 1.5rem;
  }

  #container .main_visual .txt_box>h2 {
    font-size: 2.6rem;
    line-height: 32px;
  }

  #container .main_visual .txt_box>p {
    margin-top: 8px;
    font-size: 1.4rem;
  }

  #container .main_visual .txt_box>i {
    font-size: 1.3rem;
    line-height: 14px;
  }

  #container .main_visual .txt_box>a {
    padding: 6px 0;
    font-size: 1.2rem;
  }

  #container .main_visual .txt_box>.btn_e04 {
    margin-top: 140px;
    padding: 6px 0;
    font-size: 1.2rem;
  }

  /*브랜드스토리*/
  #container .brand_story {
    height: 340px;
  }

  /* 아코디언 구조 */
  #container .brand_story .accordion_item .accordion_title h2 {
    padding: 0 22px;
    font-size: 2.4rem;
  }

  #container .brand_story .accordion_item.active .accordion_cont {
    max-height: 340px;
  }

  #container .brand_story .accordion_item .info_wrap {
    padding: 52px;
  }

  #container .brand_story .accordion_item .info_wrap h3 {
    font-size: 2rem;
  }

  #container .brand_story .accordion_item .info_wrap b {
    font-size: 1.8rem;
  }

  #container .brand_story .accordion_item .info_wrap ul {
    width: 95%;
  }

  #container .brand_story .accordion_item .info_wrap ul li {
    font-size: 1.4rem;
    line-height: 32px;
  }

  #container .brand_story .accordion_item .info_wrap ul li img {
    width: 12px;
  }

  #container .brand_story .accordion_item .info_wrap p {
    padding-top: 10px;
    font-size: 1.2rem;
  }

  /*제품유형바로가기*/
  #container .product_type {
    margin: 64px auto;
    padding: 0 28px;
  }

  #container .product_type .type_list ul li img {
    margin-bottom: 8px;
    width: 82px;
  }

  #container .product_type .type_list ul {
    font-size: 1.2rem;
  }

  /*베스트아이템*/
  #container .best_item h3 {
    font-size: 3rem;
  }

  #container .best_item .best_list ul li img {
    height: 302px;
  }

  /*인스타그램*/
  #container .instagram {
    padding: 70px 0 54px;
  }

  #container .instagram span {
    font-size: 1.8rem;
  }

  #container .instagram h3 {
    font-size: 3rem;
  }

  #container .instagram .instagram_list ul li {
    width: 492px;
  }

  #container .instagram .instagram_list .insta_large {
    flex: 1 1 326px;
  }

  #container .instagram .instagram_list .insta_small {
    flex: 1 1 162px;
  }

  #container .instagram .instagram_list .insta_small>div {
    flex: 1 1 162px;
  }

  #container .instagram .instagram_list ul li .insta_large img {
    width: 326px;
    height: 326px;
  }

  #container .instagram .instagram_list ul li .insta_small img {
    width: 162px;
    height: 162px;
  }

  /*푸터영역*/
  #footer {
    padding: 30px 16px 20px;
  }

  #footer .footer_inner ul li .footer_logo {
    display: none;
  }
}

/*서브전용 768px*/
@media (max-width: 768px) {

  /* 서브 페이지 공통 헤더 */
  body.sub-page #header .header_inner h1 img {
    width: 130px;
  }

  #container .sub_visual .txt_box {
    top: 220px;
    width: 90%;
  }

  #container .sub_visual .txt_box h2 {
    font-size: 4.8rem;
  }

  #container .sub_visual .txt_box strong {
    margin: 146px 0 4px;
    font-size: 2.8rem;
  }

  #container .sub_visual .txt_box p {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 22px;
    word-break: keep-all;
  }

   #container .brand-content .identity {
    flex-wrap: wrap;
    padding: 0 30px;
    width: 100%;
  }

   #container .brand-content .identity span,
   #container .brand-content .identity img {
    max-width: 708px;
    width: 100%;
  }

   #container .brand-content .identity .text-area {
    padding: 42px 50px;
    max-width: 708px;
  }

   #container .brand-content .value {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding: 0 30px;
    width: 100%;
  }

   #container .brand-content .value .value-list {
    padding: 42px 50px;
    max-width: 708px;
  }

   #container .brand-content .value span,
   #container .brand-content .value img {
    max-width: 708px;
  }

  /*제품소개list*/
  #container .product {
    padding: 0 16px;
    max-width: 736px;
    width: 100%;
  }

  #container .product .product-list li {
    width: calc((100% - 12px) / 2);
  }

  /*제품 상세페이지*/
  #container .detail-container {
    margin: 98px auto;
    gap: 32px;
  }

  /*우측 제품정보 영역*/
  #container .detail-container .info-area .header {
    margin-bottom: 24px;
  }

  #container .detail-container .info-area h3 {
    font-size: 2rem;
  }

  #container .detail-container .info-area b {
    font-size: 1.5rem;
  }

  #container .detail-container .info-area .line {
    padding: 20px 0 8px;
  }

  #container .detail-container .info-area .description em {
    font-size: 1.4rem;
  }

  #container .detail-container .info-area .description ul {
    margin: 6px 0;
  }

  #container .detail-container .info-area .description li {
    padding: 2px 0;
    font-size: 1.2rem;
  }

  #container .detail-container .info-area strong {
    font-size: 1.6rem;
  }

  #container .detail-container .info-area .btn-buy {
    margin-top: 18px;
    padding: 9px 0 8px;
    font-size: 1.4rem;
  }

  #container .detail-tabs #detail-content {
    padding: 0 60px;
    max-width: 768px;
  }

  /*이벤트 탭*/
  #container .event .tabs {
    max-width: 468px;
  }

  #container .event .tabs li {
    padding-bottom: 10px;
    font-size: 1.4rem;
  }

  /*이벤트 리스트*/
  #container .event .event-list .tab_content ul {
    display: block;
    padding: 0 60px;
  }

  #container .event .event-list .tab_content ul li {
    padding-bottom: 48px;
    max-width: 708px;
    width: 100%;
  }

  /*검색*/
  #container .event .search {
    margin: 20px auto 0;
    max-width: 648px;
  }

  #container .event .search .dropdown select,
  #container .search .dropdown select {
    width: 100px;
  }

  #container .event .search .input-box .search-input,
  #container .search .input-box .search-input {
    width: 320px;
  }

  /*문의하기*/
  #container .contact em {
    margin-bottom: 48px;
  }

  #container .contact .contact-form {
    padding: 20px 60px 120px;
    font-size: 1.2rem;
  }

  #container .contact .contact-form label {
    margin-bottom: 6px;
    font-size: 1.4rem;
  }

  #container .contact .contact-form .field-row {
    column-gap: 12px;
  }

  #container .contact .contact-form input[type="text"],
  #container .contact .contact-form select {
    font-size: 1.3rem;
  }

  #container .contact .contact-form .privacy p {
    font-size: 1.3rem;
    line-height: 22px;
  }

  #container .contact .contact-form .privacy input[type="checkbox"] {
    transform: scale(1.5);
    margin: 24px 8px 40px 4px;
  }

  #container .contact .contact-form textarea {
    font-size: 1.3rem;
  }

  /*공지사항*/
  #container .notice h3 {
    margin-bottom: 36px;
  }

  /*공지사항 리스트*/
  #container .notice .notice-board thead {
    display: none;
  }

  #container .notice .notice-board tbody td:nth-child(1) {
    display: none;
  }

  #container .notice .notice-board tbody td:nth-child(2) {
    width: 60%;
  }

  #container .notice .notice-board tbody td:nth-child(3) {
    width: 15%;
  }

  #container .notice .notice-board tbody td:nth-child(4) {
    width: 15%;
  }

  #container .notice .notice-board tbody td:nth-child(5) {
    width: 10%;
  }

   /*공지사항 내용*/
  #container .notice .view-content {
    line-height: 26px;
  }
}

/* =========================================
   중단점: 480px
   ========================================= */
/*메인 480px*/
@media (max-width: 480px) {

  /* 메인 페이지 헤더 */
  #header .header_inner {
    padding: 16px;
  }

  #header .header_inner h1 img {
    top: 14px;
    width: 116px;
  }

  /*검색창*/
  #full-search-container {
    height: 34%;
  }

  .search-content {
    max-width: 380px;
  }

  /* 검색 입력 필드 스타일 */
  .search-form-wrap {
    margin-bottom: 18px;
  }

  /* 인기 검색어 스타일 */
  .search-trending .title {
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  .search-trending .hashtags span {
    margin-right: 12px;
    font-size: 1.2rem;
  }

  /*메인 비주얼 영역*/
  #container .main_visual {
    height: 45vh;
  }

  #container .main_visual .swiper-slide img {
    height: 45vh;
  }

  #container .main_visual .txt_box {
    top: 80px;
    left: 40px;
  }

  #container .main_visual .txt_box>span {
    font-size: 1.2rem;
    line-height: 20px;
  }

  #container .main_visual .txt_box>h2 {
    font-size: 1.8rem;
    line-height: 24px;
  }

  #container .main_visual .txt_box>p {
    margin-top: 6px;
    font-size: 1.2rem;
    line-height: 20px;
  }

  #container .main_visual .txt_box>i {
    font-size: 1.1rem;
    line-height: 14px;
  }

  #container .main_visual .txt_box>a {
    padding: 4px 0;
    width: 80px;
    font-size: 1rem;
  }

  #container .main_visual .txt_box>.btn_e04 {
    margin-top: 110px;
    padding: 4px 0;
    width: 80px;
    font-size: 1rem;
  }

  #container .swiper-button-prev.btn_prev img,
  #container .swiper-button-next.btn_next img {
    display: none;
  }

  #container .swiper-pagination {
    display: block;
  }

  #container .swiper-pagination-bullet {
    margin: 0 2px;
    width: 4px;
    height: 4px;
  }

  #container .swiper-pagination-bullet-active {
    background: #444;
  }

  /*브랜드스토리*/
  #container .brand_story {
    height: 270px;
  }

  /* 아코디언 구조 */
  #container .brand_story .accordion_item .accordion_title h2 {
    padding: 0 6px;
    font-size: 1.3rem;
  }

  #container .brand_story .accordion_item.active .accordion_cont {
    max-height: 270px;
  }

  #container .brand_story .accordion_item .info_wrap {
    padding: 20px;
  }

  #container .brand_story .accordion_item .info_wrap h3 {
    font-size: 1.4rem;
  }

  #container .brand_story .accordion_item .info_wrap b {
    padding-left: 2px;
    font-size: 1.2rem;
  }

  #container .brand_story .accordion_item .info_wrap ul {
    margin-top: 12px;
    padding: 12px;
    width: 104%;
  }

  #container .brand_story .accordion_item .info_wrap ul li {
    font-size: 1.2rem;
    line-height: 24px;
  }

  #container .brand_story .accordion_item .info_wrap ul li img {
    width: 10px;
  }

  #container .brand_story .accordion_item .info_wrap p {
    padding-top: 8px;
    font-size: 1rem;
  }

  /*제품유형바로가기*/
  #container .product_type {
    margin: 40px auto;
    padding: 0 16px;
  }

  #container .product_type .type_list ul li img {
    margin-bottom: 5px;
    width: 46px;
  }

  #container .product_type .type_list ul {
    font-size: 1rem;
  }

  #container .best_item .best_list {
    padding: 0 16px;
  }

  #container .best_item h3 {
    padding: 4px 0 16px;
    font-size: 2.2rem;
  }

  #container .best_item .best_list ul li img {
    height: 290px;
  }

  /*인스타그램*/
  #container .instagram {
    padding: 66px 16px 42px;
  }

  #container .instagram span {
    font-size: 1.4rem;
    line-height: 14px;
  }

  #container .instagram h3 {
    padding-bottom: 16px;
    font-size: 2.2rem;
  }

  /*푸터영역*/
  #footer {
    padding: 24px 20px 18px;
  }

  #footer .footer_inner ul {
    display: block;
  }

  #footer .footer_inner .sns_area ul {
    display: flex;
    padding-top: 10px;
    width: 96px;
  }

  #footer .footer_inner .company_info {
    line-height: 18px;
  }

  #footer .footer_inner .cs h4 {
    margin-top: 10px;
    font-size: 1.4rem;
  }

  #footer .footer_inner .cs strong {
    font-size: 1.8rem;
  }

  #footer .footer_inner .fnb {
    display: flex;
  }

  #footer .footer_inner .fnb a {
    padding: 10px 5px 0;
    font-size: 1.3rem;
  }

  #footer .footer_inner .fnb a:first-child {
    padding-left: 0;
  }

  #footer .footer_inner .partnership p {
    font-size: 1.4rem;
  }

  #footer .footer_inner .copy {
    padding-top: 16px;
    font-size: 1.2rem;
  }
}

/*서브전용 480px*/
@media (max-width: 480px) {

  /* 서브 페이지 공통 헤더 */
  body.sub-page #header .header_inner {
    padding: 16px;
  }

  body.sub-page #header .header_inner h1 img {
    top: 14px;
    width: 116px;
  }

  #container .sub_visual .txt_box strong {
    margin: 180px 0 12px;
    line-height: 28px;
  }

  #container .sub_visual .txt_box h2 {
    font-size: 3.8rem;
    line-height: 40px;
  }

   #container .brand-intro h3 {
    margin-top: 74px;
    font-size: 3.6rem;
  }

   #container .brand-intro .intro-text {
    margin-bottom: 68px;
    padding: 0 30px;
    width: 100%;
  }

   #container .brand-intro .intro-text strong {
    padding-bottom: 18px;
    font-size: 1.8rem;
  }

   #container .brand-intro .intro-text p {
    font-size: 1.4rem;
    line-height: 24px;
  }

   #container .brand-content .identity .text-area {
    padding: 30px;
  }

   #container .brand-content .value .value-list {
    padding: 36px;
  }

   #container .brand-slogan {
    margin: 74px 30px 86px;
    word-break: keep-all;
  }

   #container .brand-slogan h4 {
    font-size: 3.6rem;
  }

   #container .brand-slogan strong {
    font-size: 1.8rem;
  }

   #container .brand-slogan p {
    font-size: 1.5rem;
    line-height: 28px;
  }

  /*제품유형 선택*/
  #container .product-type {
    margin: 74px 0 32px;
  }

  #container .product-type .filter {
    margin-bottom: 18px;
  }

  #container .product-type .cate-list {
    font-size: 1.2rem;
  }

  #container .product-type .cate-list li a {
    padding: 8px;
  }

  #container .product-type .cate-list .active::after {
    width: 20px;
  }

  #container .product-type .filter {
    font-size: 1.4rem;
  }

  /*제품소개list*/
  #container .product .list-header {
    margin-bottom: 12px;
  }

  #container .product .list-header .item-count {
    font-size: 1.4rem;
  }

  #container .product .list-header .sort-dropdown select {
    padding: 7px;
    font-size: 1.2rem;
  }

  #container .product .product-list .product-image {
    padding: 0;
  }

  #container .product .product-list li .info {
    padding: 16px;
  }

  #container .product .product-list li .name {
    font-size: 1.4rem;
  }

  #container .product .product-list li .desc {
    font-size: 1.2rem;
  }

  #container .product .product-list li .price {
    margin-top: 4px;
    font-size: 1.4rem;
  }

  /*페이지네이션*/
  #container .product .pagination {
    margin: 48px 0 100px;
  }

  #container .product .pagination .list img {
    width: 14px;
  }

  #container .product .pagination .list a {
    font-size: 1.4rem;
  }

  /*제품 상세페이지*/
  #container .detail-container {
    display: block;
    margin: 48px auto;
    padding: 0 24px;
  }

  /*우측 제품정보 영역*/
  #container .detail-container .info-area {
    margin-top: 54px;
  }

  #container .detail-container .info-area .btn-buy {
    margin-top: 30px;
  }

  /*제품 상세 탭*/
  #container .detail-tabs {
    margin: 40px auto 60px;
  }

  #container .detail-tabs #detail-content {
    margin: 0 auto 80px;
    padding: 0 30px;
  }

  #container .detail-tabs .tab-nav .tab-link {
    padding: 10px 58px;
    font-size: 1.3rem;
  }

  #container .detail-tabs .tab-nav .tab-link.active {
    font-size: 1.3rem;
  }

  #container .detail-tabs .fixed-tab-wrapper {
    padding-top: 32px;
  }

  /*이벤트*/
  #container .event {
    margin: 78px auto;
  }

  /*이벤트 탭*/
  #container .event .tabs {
    padding: 0 30px;
  }

  /*이벤트 리스트*/
  #container .event .event-list .tab_content ul {
    padding: 0 30px;
  }

  /*검색*/
  #container .event .search {
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 420px;
    width: 100%;
  }

  #container .search {
    flex-wrap: wrap;
    margin: 26px auto 0;
    max-width: 420px;
    width: 100%;
  }

  #container .event .search .dropdown select,
  #container .search .dropdown select {
    width: 208px;
  }

  #container .event .search .input-box .search-input,
  #container .search .input-box .search-input {
    width: 344px;
  }

  /*페이지네이션*/
  #container .event .pagination,
  #container .pagination {
    margin: 48px 0 100px;
  }

  #container .event .pagination .list img,
  #container .pagination .list img {
    width: 14px;
  }

  #container .event .pagination .list a,
  #container .pagination .list a {
    font-size: 1.4rem;
  }

  /*문의하기*/
  #container .contact {
    margin: 74px auto 30px;
  }

  #container .contact h3 {
    margin-bottom: 10px;
    font-size: 2.4rem;
  }

  #container .contact em {
    margin-bottom: 32px;
    padding: 0 30px;
    font-size: 1.2rem;
  }

  #container .contact .contact-form {
    padding: 20px 20px 60px;
  }

  #container .contact .contact-form input[type="text"],
  #container .contact .contact-form select {
    padding: 3px;
    font-size: 1.2rem;
  }

  #container .contact .contact-form .privacy strong {
    font-size: 1.4rem;
  }

  #container .contact .contact-form .privacy input[type="checkbox"] {
    transform: scale(1.5);
    margin: 20px 8px 36px 4px;
  }

  #container .contact .contact-form .privacy .consent-checkbox span {
    font-size: 1.4rem;
  }

  #container .contact .contact-form .submit-button {
    padding: 9px 0;
    font-size: 1.3rem;
  }

  /*공지사항*/
  #container .notice {
    margin: 74px auto 0;
    padding: 0 20px;
  }

  #container .notice h3 {
    margin-bottom: 30px;
    font-size: 2.4rem;
  }

  /*공지사항 리스트*/
  #container .notice .notice-board thead th {
    padding: 12px 0;
    font-size: 1.2rem;
  }

  #container .notice .notice-board tbody td {
    padding: 18px 0;
    font-size: 1.2rem;
  }

  #container .notice .notice-board tbody td:nth-child(2) {
    padding-left: 4px;
    width: 60%;
  }

  #container .notice .notice-board tbody td:nth-child(3) {
    width: 20%;
  }

  #container .notice .notice-board tbody td:nth-child(4) {
    width: 20%;
  }

  #container .notice .notice-board tbody td:nth-child(5) {
    display: none;
  }

  /*공지사항_view*/
  #container .notice .view-header {
    padding: 24px 16px;
  }

  #container .notice .view-header h4 {
    margin-bottom: 8px;
    font-size: 1.6rem;
  }

  #container .notice .view-header .post-meta {
    font-size: 1.2rem;
  }

  /*공지사항 내용*/
  #container .notice .view-content {
    min-height: 200px;
    padding: 20px 16px;
    font-size: 1.2rem;
    line-height: 26px;
  }

  #container .notice .view-actions {
    padding: 10px 0;
  }

  /*목록버튼*/
  #container .notice .btn-list {
    padding: 6px 18px 5px;
    font-size: 1.1rem;
  }

  /*이전글/다음글*/
  #container .notice .view-nav {
    margin: 40px 0 110px;
  }

  #container .notice .nav-item {
    padding: 8px 10px;
  }

  #container .notice .nav-item .label {
    width: 60px;
  }
}

/* =========================================
   중단점: 360px
   ========================================= */
/*메인 360px*/
@media (max-width: 360px) {

  /* 메인 페이지 헤더 */
  #header .header_inner h1 img {
    top: 12px;
    width: 100px;
  }

  /*햄버거 버튼 및 모바일 메뉴 활성화*/
  #header .header_inner .btn_hamburger {
    width: 16px;
    height: 13px;
  }

  #header .btn_hamburger.open span:first-child {
    transform: translateY(4px) rotate(45deg);
  }

  /*util 영역*/
  #header .header_inner .util_area ul {
    column-gap: 6px;
  }

  #header .header_inner .util_area ul li img {
    width: 20px;
  }

  /*검색창*/
  #full-search-container {
    height: 32%;
  }

  .search-content {
    max-width: 300px;
    margin: 50px auto 0;
  }

  #search-close-btn {
    top: -32px;
  }

  #search-close-btn img {
    width: 20px;
  }

  .search-trending .hashtags span {
    margin-right: 8px;
    margin-bottom: -14px;
  }

  /*메인 비주얼 영역*/
  #container .main_visual {
    height: 68vh;
  }

  #container .main_visual .swiper-slide img {
    height: 68vh;
  }

  #container .main_visual .txt_box {
    top: 174px;
    left: 20px;
  }

  #container .main_visual .txt_box>h2 {
    font-size: 2rem;
    line-height: 24px;
  }

  #container .main_visual .txt_box>p {
    margin-top: 10px;
  }

  #container .main_visual .txt_box>i {
    line-height: 15px;
  }

  #container .main_visual .txt_box>.btn_e04 {
    margin-top: 106px;
  }

  /*브랜드스토리*/
  #container .brand_story {
    height: 250px;
  }

  /* 아코디언 구조 */
  #container .brand_story .accordion_item .accordion_title h2 {
    padding: 0 3px;
  }

  #container .brand_story .accordion_item.active .accordion_cont {
    max-height: 250px;
  }

  #container .brand_story .accordion_item .info_wrap {
    padding: 14px;
  }

  #container .brand_story .accordion_item .info_wrap h3 {
    font-size: 1.4rem;
  }

  #container .brand_story .accordion_item .info_wrap b {
    display: none;
  }

  #container .brand_story .accordion_item .info_wrap ul {
    margin-top: 8px;
    padding: 10px;
    width: 101%;
  }

  #container .brand_story .accordion_item .info_wrap ul li {
    margin-bottom: 5px;
    line-height: 18px;
  }

  #container .brand_story .accordion_item .info_wrap p {
    padding-top: 4px;
  }

  /*제품유형바로가기*/
  #container .product_type {
    margin: 50px auto;
    padding: 0 16px;
  }

  #container .product_type .type_list ul li {
    display: block;
    width: 30px;
    white-space: normal;
    word-break: break-all;
  }

  #container .product_type .type_list ul li img {
    margin-bottom: 8px;
    width: 30px;
  }

  /*베스트아이템*/
  #container .best_item .best_list ul li img {
    height: 210px;
  }

  #container .best_item .best_list ul li p {
    line-height: 22px;
  }

  /*인스타그램*/
  #container .instagram {
    padding: 40px 16px;
  }

  #container .instagram .instagram_list ul li {
    width: 396px;
  }

  #container .instagram .instagram_list .insta_large {
    flex: 1 1 262px;
  }

  #container .instagram .instagram_list .insta_small {
    flex: 1 1 130px;
  }

  #container .instagram .instagram_list .insta_small>div {
    flex: 1 1 130px;
  }

  #container .instagram .instagram_list ul li .insta_large img {
    width: 262px;
    height: 262px;
  }

  #container .instagram .instagram_list ul li .insta_small img {
    width: 130px;
    height: 130px;
  }
}

/*서브전용 360px*/
@media (max-width: 360px) {

  /* 서브 페이지 공통 헤더 */
  body.sub-page #header .header_inner h1 img {
    top: 12px;
    width: 100px;
  }

  /*햄버거 버튼 및 모바일 메뉴 활성화*/
  body.sub-page #header .header_inner .btn_hamburger {
    width: 16px;
    height: 13px;
  }

  body.sub-page #header .btn_hamburger.open span:first-child {
    transform: translateY(4px) rotate(45deg);
  }

  /*util 영역*/
  body.sub-page #header .header_inner .util_area ul {
    column-gap: 6px;
  }

  body.sub-page #header .header_inner .util_area ul li img {
    width: 20px;
  }

  #container .sub_visual .txt_box {
    width: 90%;
  }

  #container .sub_visual .txt_box strong {
    margin: 216px 0 14px;
    font-size: 2.4rem;
  }

  #container .sub_visual .txt_box p {
    line-height: 18px;
  }

   #container .brand-intro span,
   #container .brand-slogan span {
    display: none;
  }

   #container .brand-intro h3 {
    margin-top: 52px;
  }

   #container .brand-intro .intro-text strong {
    padding: 6px 0 16px;
    font-size: 1.6rem;
  }

   #container .brand-intro .intro-text {
    margin-bottom: 50px;
  }

   #container .brand-content .identity {
    padding: 0 16px;
  }

   #container .brand-content .value {
    padding: 0 16px;
  }

   #container .brand-content .identity .text-area {
    padding: 24px;
  }

   #container .brand-content .identity .text-area h4 {
    font-size: 1.6rem;
  }

   #container .brand-content .identity .text-area p {
    margin-bottom: 4px;
    font-size: 1.3rem;
  }

   #container .brand-content .identity .text-area p br,
   #container .brand-slogan p br {
    display: none;
  }

   #container .brand-content .value .value-list {
    padding: 24px;
  }

   #container .brand-content .value .value-list p {
    font-size: 1.3rem;
    line-height: 20px;
  }

   #container .brand-slogan {
    margin: 60px 30px 66px;
  }

   #container .brand-slogan h4 {
    padding-bottom: 12px;
    font-size: 3rem;
  }

   #container .brand-slogan strong {
    font-size: 1.6rem;
  }

   #container .brand-slogan p {
    font-size: 1.4rem;
    line-height: 30px;
  }

  /*제품유형 선택*/
  #container .product-type {
    margin: 52px 0 32px;
  }

  #container .product-type .cate-list {
    font-size: 1.1rem;
  }

  #container .product-type .cate-list li a {
    padding: 4px;
  }

  /*제품소개list*/
  #container .product .product-list li .info {
    padding: 10px;
  }

  #container .product .product-list li .name {
    font-size: 1.2rem;
  }

  #container .product .product-list li .desc {
    margin-top: 0;
  }

  #container .product .product-list li .price {
    margin-top: 2px;
    font-size: 1.2rem;
  }

  /*제품 상세페이지*/
  #container .detail-container {
    display: block;
    margin: 28px auto;
    padding: 0 18px;
  }

  #container .detail-container .info-area .description li {
    padding: 0;
  }

  /*제품 상세 탭*/
  #container .detail-tabs #detail-content {
    padding: 0 18px;
  }

  #container .detail-tabs .tab-nav .tab-link {
    padding: 8px 38px;
  }

  #container .detail-tabs .tab-nav .tab-link.active {
    margin-bottom: -1px;
    border-bottom: 1px solid #193D35;
  }

  #container .detail-tabs .info-notice {
    padding: 0 18px;
  }

  #container .detail-tabs .info-notice h4 {
    margin-bottom: 12px;
    font-size: 1.4rem;
  }

  /* DL 리스트 전체 설정 */
  #container .detail-tabs .info-notice .info-list {
    font-size: 1.2rem;
  }

  #container .detail-tabs .info-notice .info-list dt {
    font-weight: 400;
  }

  /* DT (항목명) 및 DD (내용) 공통 스타일 */
  #container .detail-tabs .info-notice .info-list dt,
  #container .detail-tabs .info-notice .info-list dd {
    padding: 7px 8px 5px;
  }

  /*이벤트*/
  #container .event {
    margin: 72px auto;
  }

  /*이벤트 탭*/
  #container .event .tabs {
    margin: 0 auto 20px;
    padding: 0 16px;
  }

  #container .event .tabs li {
    padding-bottom: 7px;
    font-size: 1.3rem;
    border-bottom: 1px solid #aaa;
  }

  #container .event .tabs li.on {
    border-bottom: 1px solid #193D35;
  }

  /*이벤트 리스트*/
  #container .event .event-list .tab_content ul {
    padding: 0 16px;
  }

  #container .event .event-list .tab_content ul li {
    padding-bottom: 36px;
  }

  #container .event .event-list .tab_content .event-info {
    padding-top: 18px;
  }

  #container .event .event-list .tab_content .event-info .title {
    font-size: 1.4rem;
  }

  #container .event .event-list .tab_content .event-info .date {
    font-size: 1.2rem;
    line-height: 26px;
  }

  /*검색*/
  #container .event .search,
  #container .search {
    max-width: 328px;
  }

  #container .event .search .dropdown select,
  #container .search .dropdown select {
    width: 160px;
  }

  #container .event .search .input-box .search-input,
  #container .search .input-box .search-input {
    width: 248px;
  }

  /*문의하기*/
  #container .contact h3 {
    font-size: 1.8rem;
  }

  #container .contact em {
    margin-bottom: 16px;
    padding: 0 48px;
    font-size: 1.2rem;
  }

  #container .contact .contact-form .field-row {
    display: block;
  }

  #container .contact .contact-form .field-row .required {
    margin-bottom: 12px;
  }

  #container .contact .contact-form .form-field {
    margin-bottom: 12px;
  }

  #container .contact .contact-form label {
    margin-bottom: 4px;
    font-size: 1.3rem;
  }

  #container .contact .contact-form .required-star {
    padding: 0 3px;
    font-size: 1.3rem;
  }

  #container .contact .contact-form textarea#content {
    height: 120px;
  }

  #container .contact .contact-form .privacy strong {
    font-size: 1.3rem;
  }

  #container .contact .contact-form .privacy p {
    font-size: 1.2rem;
    line-height: 20px;
  }

  #container .contact .contact-form .privacy input[type="checkbox"] {
    transform: scale(1.2);
    margin: 16px 0 32px 4px;
  }

  #container .contact .contact-form .privacy .agreement-box {
    padding: 8px;
  }

  #container .contact .contact-form .privacy .agreement-box br {
    display: none;
  }

  #container .contact .contact-form .privacy .consent-checkbox span {
    font-size: 1.3rem;
  }

  /*공지사항 리스트*/
  #container .notice {
    padding: 0 16px;
  }

  #container .notice .notice-board thead th {
    font-size: 1.1rem;
  }

  #container .notice .notice-board tbody td {
    padding: 14px 0;
    font-size: 1.1rem;
  }

  /*공지사항_view*/
  #container .notice .view-header {
    padding: 16px 12px;
  }

  #container .notice .view-header h4 {
    margin-bottom: 3px;
  }

  #container .notice .view-header .post-meta {
    font-weight: 300;
  }

   /*공지사항 내용*/
  #container .notice .view-content {
    padding: 16px 12px;
    line-height: 22px;
  }
}