@charset "UTF-8";

html,
body {
  overflow-x: hidden;
}

@media (hover: hover) {
  #header .header_inner #gnb>ul>li:hover>a {
    color: #193D35;
  }
}

/*breakpoint 1440*/
@media (max-width: 1440px) {

  /*검색창*/
  #full-search-container {
    height: 43%;
  }

  .search-content {
    max-width: 800px;
    margin: 100px auto 0;
    padding: 10px;
  }

  #search-close-btn {
    top: -80px;
    right: 0;
  }

  /* 검색 입력 필드 스타일 */
  .search-form-wrap {
    margin-bottom: 24px;
  }

  #search-input {
    font-size: 1.6rem;
  }

  /* 인기 검색어 스타일 */
  .search-trending .title {
    font-size: 1.4rem;
    margin-bottom: 2px;
  }

  .search-trending .hashtags span {
    font-size: 1.4rem;
  }

  /*메인 비주얼 영역*/
  #container .main_visual .txt_box {
    top: 250px;
    left: 180px;
  }

  #container .main_visual .txt_box>a {
    margin-top: 26px;
  }

  #container .main_visual .txt_box>.btn_e04 {
    margin-top: 226px;
  }

  #container .main_visual .txt_box>h2 {
    font-size: 4rem;
    line-height: 50px;
  }

  #container .main_visual .txt_box>p {
    margin-top: 20px;
    font-size: 2.4rem;
  }

  #container .main_visual .txt_box>i {
    font-size: 1.8rem;
    line-height: 46px;
  }

  /*브랜드스토리*/
  #container .brand_story {
    height: 608px;
  }

  /* 아코디언 구조 */
  #container .brand_story .accordion_item .accordion_title h2 {
    padding: 0 38px;
    font-size: 3.6rem;
  }

  #container .brand_story .accordion_item.active .accordion_cont {
    max-height: 608px;
  }

  #container .brand_story .accordion_item .info_wrap {
    padding: 70px 104px;
  }

  #container .brand_story .accordion_item .info_wrap h3 {
    font-size: 4.2rem;
  }

  #container .brand_story .accordion_item .info_wrap b {
    font-size: 3.6rem;
  }

  #container .brand_story .accordion_item .info_wrap ul {
    margin-top: 30px;
    padding: 46px;
    width: 98%;
  }

  #container .brand_story .accordion_item .info_wrap ul li {
    font-size: 2.4rem;
    line-height: 52px;
  }

  #container .brand_story .accordion_item .info_wrap ul li img {
    width: 24px;
  }

  #container .brand_story .accordion_item .info_wrap p {
    padding-top: 20px;
    font-size: 1.8rem;
  }

  /*제품유형바로가기*/
  #container .product_type {
    width: 1200px;
  }

  #container .product_type .type_list ul li img {
    width: 110px;
  }

  /*베스트아이템*/
  #container .best_item .best_list {
    margin: 0 auto;
    width: 1200px;
  }

  #container .best_item .best_list ul li img {
    height: 378px;
  }

  #container .best_item .best_list ul li a {
    padding-bottom: 30px;
  }

  #container .best_item .best_list ul li strong {
    font-size: 1.8rem;
  }

  /*인스타그램*/
  #container .instagram .instagram_list ul li {
    width: 843px;
  }

  #container .instagram .instagram_list .insta_large {
    flex: 1 1 560px;
  }

  #container .instagram .instagram_list .insta_small {
    flex: 1 1 279px;
  }

  #container .instagram .instagram_list .insta_small>div {
    flex: 1 1 279px;
  }

  #container .instagram .instagram_list ul li .insta_large img {
    width: 560px;
    height: 560px;
  }

  #container .instagram .instagram_list ul li .insta_small img {
    width: 279px;
    height: 279px;
  }

  /*푸터영역*/
  #footer {
    padding: 55px 0 40px;
  }

  #footer .footer_inner {
    width: 1280px;
  }

  #footer .footer_inner .copy {
    padding-top: 60px;
  }
}

/*breakpoint 1280*/
@media (max-width: 1280px) {

  /*헤더영역*/
  #header .header_inner {
    padding: 26px 56px;
  }

  /*gnb*/
  #header .header_inner #gnb>ul>li>a {
    padding: 5px 10px;
    font-size: 1.6rem;
  }

  #header .header_inner h1 img {
    width: 160px;
  }

  /*util 영역*/
  #header .header_inner .util_area ul {
    column-gap: 16px;
  }

  #header .header_inner .util_area ul li img {
    width: 24px;
  }

  /*메인 비주얼 영역*/
  #container .main_visual .txt_box {
    top: 220px;
    left: 160px;
  }

  #container .main_visual .txt_box>.btn_e04 {
    margin-top: 210px;
  }

  /*브랜드스토리*/
  #container .brand_story {
    height: 558px;
  }

  #container .brand_story .accordion_item.active .accordion_cont {
    max-height: 558px;
  }

  #container .brand_story .accordion_item .info_wrap {
    padding: 58px 88px;
  }

  #container .brand_story .accordion_item .info_wrap h3 {
    font-size: 3.8rem;
  }

  #container .brand_story .accordion_item .info_wrap b {
    font-size: 3rem;
  }

  #container .brand_story .accordion_item .info_wrap ul {
    padding: 42px;
    width: 96%;
  }

  #container .brand_story .accordion_item .info_wrap ul li {
    font-size: 2.4rem;
    line-height: 52px;
  }

  #container .brand_story .accordion_item .info_wrap ul li img {
    width: 20px;
  }

  /*제품유형바로가기*/
  #container .product_type {
    margin: 98px auto;
    width: 1024px;
  }

  /*베스트아이템*/
  #container .best_item h3 {
    padding: 8px 0 48px;
  }

  #container .best_item .best_list {
    width: 1024px;
  }

  #container .best_item .best_list ul li img {
    height: 324px;
  }

  #container .best_item .best_list ul li strong {
    font-size: 1.6rem;
  }

  #container .best_item .best_list ul li p {
    font-size: 1.3rem;
  }

  /*인스타그램*/
  #container .instagram {
    padding: 110px 0;
  }

  #container .instagram h3 {
    padding-bottom: 24px;
  }

  /*푸터영역*/
  #footer {
    padding: 38px 90px 32px;
  }

  #footer .footer_inner {
    width: 100%;
  }

  #footer .footer_inner .copy {
    padding-top: 32px;
  }

  #footer .footer_inner .footer_logo img {
    width: 100px;
  }

  #footer .footer_inner .company_info {
    font-size: 1.4rem;
  }

  #footer .footer_inner .cs h4 {
    font-size: 1.5rem;
  }

  #footer .footer_inner .sns_area img {
    width: 30px;
    height: 30px;
  }

  #footer .footer_inner .sns_area a {
    padding-right: 8px;
  }

  #footer .footer_inner .cs strong {
    font-size: 2.4rem;
  }

  #footer .footer_inner .cs p {
    padding-top: 5px;
    font-size: 1.3rem;
    line-height: 22px;
  }

  #footer .footer_inner .fnb a {
    padding: 1px 0;
    font-size: 1.4rem;
  }

  #footer .footer_inner .partnership h4 {
    padding-top: 14px;
    font-size: 1.4rem;
  }

  #footer .footer_inner .partnership p {
    font-size: 1.6rem;
  }

  /*퀵영역*/
  #quick_area img {
    width: 40px;
  }
}

/*breakpoint 1024*/
@media (max-width: 1024px) {

  #header .header_inner {
    padding: 26px;
  }

  #header .header_inner #gnb {
    display: none;
  }

  /*햄버거 버튼 및 모바일 메뉴 활성화*/
  #header .header_inner .btn_hamburger {
    position: absolute;
    left: 20px;
    top: 34%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    z-index: 210;
  }

  #header .header_inner .btn_hamburger {
    opacity: 1;
    visibility: visible;
  }

  #header .header_inner .btn_hamburger span {
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: 0.3s;
  }

  #header .btn_hamburger.open span:first-child {
    transform: translateY(9px) rotate(45deg);
    background-color: #fff;
  }

  #header .btn_hamburger.open span:nth-child(2) {
    opacity: 0;
  }

  #header .btn_hamburger.open span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
    background-color: #fff;
  }

  #header .header_inner .mo_menu_container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    width: 70%;
    height: 100vh;
    padding: 90px 46px;
    background-color: #7A9783;
    transform: translateX(-100%);
    transition: 0.3s ease-out;
  }

  #header .header_inner .mo_menu_container.open {
    transform: translateX(0);
  }

  #header .header_inner .mo_menu_container .mo_gnb>ul>li {
    padding-bottom: 16px;
  }

  #header .header_inner .mo_menu_container .mo_gnb ul>li a {
    display: block;
    font-size: 1.8rem;
    color: #fff;
    text-transform: uppercase;
  }

  #header .header_inner .mo_menu_container .mo_gnb li>.depth02 {
    display: none;
    margin-top: 8px;
    padding: 10px 12px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  #header .header_inner .mo_menu_container .mo_gnb li>.depth02 a {
    display: block;
    padding: 5px 0;
    font-size: 1.4rem;
    font-weight: 500;
    color: #333;
    text-align: left;
  }

  /*메인 비주얼 영역*/
  #container .main_visual .txt_box {
    position: absolute;
    top: 150px;
    left: 122px;
  }

  #container .main_visual .txt_box>span {
    font-size: 2rem;
    line-height: 32px;
  }

  #container .main_visual .txt_box>h2 {
    font-size: 3.6rem;
    line-height: 44px;
  }

  #container .main_visual .txt_box>p {
    margin-top: 18px;
    font-size: 2rem;
  }

  #container .main_visual .txt_box>i {
    font-size: 1.6rem;
    line-height: 30px;
  }

  #container .main_visual .txt_box>a {
    margin-top: 16px;
    padding: 8px 0;
    font-size: 1.4rem;
  }

  #container .main_visual .txt_box>.btn_e04 {
    margin-top: 188px;
    padding: 8px 0;
  }

  #container .swiper-button-prev.btn_prev img,
  #container .swiper-button-next.btn_next img {
    width: 40px;
  }

  /*브랜드스토리*/
  #container .brand_story {
    height: 458px;
  }

  /* 아코디언 구조 */
  #container .brand_story .accordion_item .accordion_title h2 {
    padding: 0 32px;
    font-size: 3rem;
  }

  #container .brand_story .accordion_item.active .accordion_cont {
    max-height: 458px;
  }

  #container .brand_story .accordion_item .info_wrap {
    padding: 64px;
  }

  #container .brand_story .accordion_item .info_wrap h3 {
    font-size: 3rem;
  }

  #container .brand_story .accordion_item .info_wrap b {
    padding-left: 12px;
    font-size: 2.4rem;
  }

  #container .brand_story .accordion_item .info_wrap ul {
    margin-top: 18px;
    padding: 24px;
    width: 93%;
  }

  #container .brand_story .accordion_item .info_wrap ul li {
    font-size: 1.8rem;
    line-height: 42px;
  }

  #container .brand_story .accordion_item .info_wrap ul li img {
    width: 16px;
  }

  #container .brand_story .accordion_item .info_wrap p {
    padding-top: 14px;
    font-size: 1.4rem;
  }

  /*제품유형바로가기*/
  #container .product_type {
    margin: 86px auto;
    padding: 0 30px;
    width: 100%;
  }

  #container .product_type .type_list ul {
    font-size: 1.2rem;
    font-weight: 400;
  }

  /*베스트아이템*/
  #container .best_item h3 {
    padding: 8px 0 24px;
    font-size: 4rem;
  }

  #container .best_item .best_list {
    padding: 0 30px;
    width: 100%;
  }

  #container .best_item .best_list ul li a {
    padding-bottom: 22px;
  }

  #container .best_item .best_list ul li img {
    height: 308px;
  }

  #container .best_item .best_list ul li strong {
    font-size: 1.4rem;
  }

  #container .best_item .best_list ul li p {
    font-size: 1.2rem;
  }

  #container .best_item .best_list ul li em {
    padding-top: 2px;
    font-size: 1.4rem;
    font-weight: 400;
  }

  #container .best_item .arrow_box01 .btn_prev01 img,
  #container .best_item .arrow_box01 .btn_next01 img {
    width: 24px;
  }

  /*인스타그램*/
  #container .instagram {
    padding: 98px 0;
  }

  #container .instagram span {
    font-size: 2.2rem;
  }

  #container .instagram h3 {
    padding-bottom: 24px;
    font-size: 4rem;
  }

  /*푸터영역*/
  #footer {
    padding: 30px 48px 20px;
  }

  #footer .footer_inner {
    width: 100%;
  }

  #footer .footer_inner .footer_logo {
    padding-top: 2px;
  }

  #footer .footer_inner .company_info {
    font-size: 1.2rem;
    line-height: 20px;
  }

  #footer .footer_inner .cs h4 {
    font-size: 1.2rem;
  }

  #footer .footer_inner .sns_area img {
    width: 24px;
    height: 24px;
  }

  #footer .footer_inner .sns_area a {
    padding-right: 6px;
  }

  #footer .footer_inner .cs strong {
    font-size: 1.6rem;
  }

  #footer .footer_inner .cs p {
    padding-top: 3px;
    font-size: 1.2rem;
    line-height: 18px;
  }

  #footer .footer_inner .fnb a {
    padding: 0;
    font-size: 1.2rem;
  }

  #footer .footer_inner .partnership h4 {
    padding-top: 8px;
    font-size: 1.2rem;
  }

  #footer .footer_inner .partnership p {
    font-size: 1.2rem;
  }

  #footer .footer_inner .copy {
    padding-top: 20px;
    font-size: 1.3rem;
  }
}

/*breakpoint 960*/
@media (max-width: 960px) {

  /*검색창*/
  #full-search-container {
    height: 37%;
  }

  .search-content {
    max-width: 700px;
    margin: 74px auto 0;
  }

  #search-close-btn {
    top: -54px;
    right: 0;
  }

  #container .best_item .best_list ul li img {
    height: 292px;
  }

  /*제품유형바로가기*/
  #container .product_type .type_list ul li img {
   width: 92px;
  }
}

/*breakpoint 768*/
@media (max-width: 768px) {

  /*헤더영역*/
  #header .header_inner h1 img {
    width: 130px;
  }

  .search-content {
    max-width: 550px;
  }

  /*메인 비주얼 영역*/
  #container .main_visual .txt_box {
    top: 114px;
    left: 90px;
  }

  #container .main_visual .txt_box>span {
    font-size: 1.5rem;
  }

  #container .main_visual .txt_box>h2 {
    font-size: 2.6rem;
    line-height: 32px;
  }

  #container .main_visual .txt_box>p {
    margin-top: 8px;
    font-size: 1.4rem;
  }

  #container .main_visual .txt_box>i {
    font-size: 1.3rem;
    line-height: 14px;
  }

  #container .main_visual .txt_box>a {
    padding: 6px 0;
    font-size: 1.2rem;
  }

  #container .main_visual .txt_box>.btn_e04 {
    margin-top: 140px;
    padding: 6px 0;
    font-size: 1.2rem;
  }

  /*브랜드스토리*/
  #container .brand_story {
    height: 340px;
  }

  /* 아코디언 구조 */
  #container .brand_story .accordion_item .accordion_title h2 {
    padding: 0 22px;
    font-size: 2.4rem;
  }

  #container .brand_story .accordion_item.active .accordion_cont {
    max-height: 340px;
  }

  #container .brand_story .accordion_item .info_wrap {
    padding: 52px;
  }

  #container .brand_story .accordion_item .info_wrap h3 {
    font-size: 2rem;
  }

  #container .brand_story .accordion_item .info_wrap b {
    font-size: 1.8rem;
  }

  #container .brand_story .accordion_item .info_wrap ul {
    width: 95%;
  }

  #container .brand_story .accordion_item .info_wrap ul li {
    font-size: 1.4rem;
    line-height: 32px;
  }

  #container .brand_story .accordion_item .info_wrap ul li img {
    width: 12px;
  }

  #container .brand_story .accordion_item .info_wrap p {
    padding-top: 10px;
    font-size: 1.2rem;
  }

  /*제품유형바로가기*/
  #container .product_type {
    margin: 64px auto;
    padding: 0 28px;
  }

  #container .product_type .type_list ul li img {
    margin-bottom: 8px;
    width: 82px;
  }

  #container .product_type .type_list ul {
    font-size: 1.2rem;
  }

  /*베스트아이템*/
  #container .best_item h3 {
    font-size: 3rem;
  }

  #container .best_item .best_list ul li img {
    height: 302px;
  }

  /*인스타그램*/
  #container .instagram {
    padding: 70px 0 54px;
  }

  #container .instagram span {
    font-size: 1.8rem;
  }

  #container .instagram h3 {
    font-size: 3rem;
  }

  #container .instagram .instagram_list ul li {
    width: 492px;
  }

  #container .instagram .instagram_list .insta_large {
    flex: 1 1 326px;
  }

  #container .instagram .instagram_list .insta_small {
    flex: 1 1 162px;
  }

  #container .instagram .instagram_list .insta_small>div {
    flex: 1 1 162px;
  }

  #container .instagram .instagram_list ul li .insta_large img {
    width: 326px;
    height: 326px;
  }

  #container .instagram .instagram_list ul li .insta_small img {
    width: 162px;
    height: 162px;
  }

  /*푸터영역*/
  #footer {
    padding: 30px 16px 20px;
  }

  #footer .footer_inner ul li .footer_logo {
    display: none;
  }
}

/*breakpoint 480*/
@media (max-width: 480px) {

  #header .header_inner {
    padding: 16px;
  }

  #header .header_inner h1 img {
    top: 14px;
    width: 116px;
  }

  /*검색창*/
  #full-search-container {
    height: 34%;
  }

  .search-content {
    max-width: 380px;
  }

  /* 검색 입력 필드 스타일 */
  .search-form-wrap {
    margin-bottom: 18px;
  }

  /* 인기 검색어 스타일 */
  .search-trending .title {
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  .search-trending .hashtags span {
    margin-right: 12px;
    font-size: 1.2rem;
  }

  /*메인 비주얼 영역*/
  #container .main_visual {
    height: 45vh;
  }

  #container .main_visual .swiper-slide img {
    height: 45vh;
  }

  #container .main_visual .txt_box {
    top: 80px;
    left: 40px;
  }

  #container .main_visual .txt_box>span {
    font-size: 1.2rem;
    line-height: 20px;
  }

  #container .main_visual .txt_box>h2 {
    font-size: 1.8rem;
    line-height: 24px;
  }

  #container .main_visual .txt_box>p {
    margin-top: 6px;
    font-size: 1.2rem;
    line-height: 20px;
  }

  #container .main_visual .txt_box>i {
    font-size: 1.1rem;
    line-height: 14px;
  }

  #container .main_visual .txt_box>a {
    padding: 4px 0;
    width: 80px;
    font-size: 1rem;
  }

  #container .main_visual .txt_box>.btn_e04 {
    margin-top: 110px;
    padding: 4px 0;
    width: 80px;
    font-size: 1rem;
  }

  #container .swiper-button-prev.btn_prev img,
  #container .swiper-button-next.btn_next img {
    display: none;
  }

  #container .swiper-pagination {
    display: block;
  }

  #container .swiper-pagination-bullet {
    margin: 0 2px;
    width: 4px;
    height: 4px;
  }

  #container .swiper-pagination-bullet-active {
    background: #444;
  }

  /*브랜드스토리*/
  #container .brand_story {
    height: 270px;
  }

  /* 아코디언 구조 */
  #container .brand_story .accordion_item .accordion_title h2 {
    padding: 0 6px;
    font-size: 1.3rem;
  }

  #container .brand_story .accordion_item.active .accordion_cont {
    max-height: 270px;
  }

  #container .brand_story .accordion_item .info_wrap {
    padding: 20px;
  }

  #container .brand_story .accordion_item .info_wrap h3 {
    font-size: 1.4rem;
  }

  #container .brand_story .accordion_item .info_wrap b {
    padding-left: 2px;
    font-size: 1.2rem;
  }

  #container .brand_story .accordion_item .info_wrap ul {
    margin-top: 12px;
    padding: 12px;
    width: 104%;
  }

  #container .brand_story .accordion_item .info_wrap ul li {
    font-size: 1.2rem;
    line-height: 24px;
  }

  #container .brand_story .accordion_item .info_wrap ul li img {
    width: 10px;
  }

  #container .brand_story .accordion_item .info_wrap p {
    padding-top: 8px;
    font-size: 1rem;
  }

  /*제품유형바로가기*/
  #container .product_type {
    margin: 40px auto;
    padding: 0 16px;
  }

  #container .product_type .type_list ul li img {
    margin-bottom: 5px;
    width: 46px;
  }

  #container .product_type .type_list ul {
    font-size: 1rem;
  }

  #container .best_item .best_list {
    padding: 0 16px;
  }

  #container .best_item h3 {
    padding: 4px 0 16px;
    font-size: 2.2rem;
  }

  #container .best_item .best_list ul li img {
    height: 290px;
  }

  /*인스타그램*/
  #container .instagram {
    padding: 66px 16px 42px;
  }

  #container .instagram span {
    font-size: 1.4rem;
    line-height: 14px;
  }

  #container .instagram h3 {
    padding-bottom: 16px;
    font-size: 2.2rem;
  }

  /*푸터영역*/
  #footer {
    padding: 24px 20px 18px;
  }

  #footer .footer_inner ul {
    display: block;
  }

  #footer .footer_inner .sns_area ul {
    display: flex;
    padding-top: 10px;
    width: 96px;
  }

  #footer .footer_inner .company_info {
    line-height: 18px;
  }

  #footer .footer_inner .cs h4 {
    margin-top: 10px;
    font-size: 1.4rem;
  }

  #footer .footer_inner .cs strong {
    font-size: 1.8rem;
  }

  #footer .footer_inner .fnb {
    display: flex;
  }

  #footer .footer_inner .fnb a {
    padding: 10px 5px 0;
    font-size: 1.3rem;
  }

  #footer .footer_inner .fnb a:first-child {
    padding-left: 0;
  }

  #footer .footer_inner .partnership p {
    font-size: 1.4rem;
  }

  #footer .footer_inner .copy {
    padding-top: 16px;
    font-size: 1.2rem;
  }
}

/*breakpoint 360*/
@media (max-width: 360px) {

  #header .header_inner h1 img {
    top: 12px;
    width: 100px;
  }

  /*햄버거 버튼 및 모바일 메뉴 활성화*/
  #header .header_inner .btn_hamburger {
    width: 16px;
    height: 13px;

  }

  #header .btn_hamburger.open span:first-child {
    transform: translateY(4px) rotate(45deg);
  }

  /*util 영역*/
  #header .header_inner .util_area ul {
    column-gap: 6px;
  }

  #header .header_inner .util_area ul li img {
    width: 20px;
  }

  /*검색창*/
  #full-search-container {
    height: 32%;
  }

  .search-content {
    max-width: 300px;
    margin: 50px auto 0;
  }

  #search-close-btn {
    top: -32px;
  }

  #search-close-btn img {
    width: 20px;
  }

  .search-trending .hashtags span {
    margin-right: 8px;
    margin-bottom: -14px;
  }

  /*메인 비주얼 영역*/
  #container .main_visual {
    height: 68vh;
  }

  #container .main_visual .swiper-slide img {
    height: 68vh;
  }

  #container .main_visual .txt_box {
    top: 174px;
    left: 20px;
  }

  #container .main_visual .txt_box>h2 {
    font-size: 2rem;
    line-height: 24px;
  }

  #container .main_visual .txt_box>p {
    margin-top: 10px;
  }

  #container .main_visual .txt_box>i {
    line-height: 15px;
  }

  #container .main_visual .txt_box>.btn_e04 {
    margin-top: 106px;
  }

  /*브랜드스토리*/
  #container .brand_story {
    height: 250px;
  }

  /* 아코디언 구조 */
  #container .brand_story .accordion_item .accordion_title h2 {
    padding: 0 3px;
  }

  #container .brand_story .accordion_item.active .accordion_cont {
    max-height: 250px;
    overflow-y: auto;
  }

  #container .brand_story .accordion_item .info_wrap {
    padding: 14px;
  }

  #container .brand_story .accordion_item .info_wrap h3 {
    font-size: 1.4rem;
  }

  #container .brand_story .accordion_item .info_wrap b {
    display: none;
  }

  #container .brand_story .accordion_item .info_wrap ul {
    margin-top: 8px;
    padding: 10px;
    width: 101%;
  }

  #container .brand_story .accordion_item .info_wrap ul li {
    margin-bottom: 5px;
    line-height: 18px;
  }

  #container .brand_story .accordion_item .info_wrap p {
    padding-top: 4px;
  }

  /*제품유형바로가기*/
  #container .product_type {
    margin: 50px auto;
    padding: 0 16px;
  }

  #container .product_type .type_list ul li {
    display: block;
    width: 30px;
    white-space: normal;
    word-break: break-all;
  }

  #container .product_type .type_list ul li img {
    margin-bottom: 8px;
    width: 30px;
  }

  /*베스트아이템*/
  #container .best_item .best_list ul li img {
    height: 210px;
  }

  #container .best_item .best_list ul li p{
    line-height: 22px;
  }

  /*인스타그램*/
  #container .instagram {
    padding: 40px 16px;
  }

   #container .instagram .instagram_list ul li {
    width: 396px;
  }

  #container .instagram .instagram_list .insta_large {
    flex: 1 1 262px;
  }

  #container .instagram .instagram_list .insta_small {
    flex: 1 1 130px;
  }

  #container .instagram .instagram_list .insta_small>div {
    flex: 1 1 130px;
  }

  #container .instagram .instagram_list ul li .insta_large img {
    width: 262px;
    height: 262px;
  }

  #container .instagram .instagram_list ul li .insta_small img {
    width: 130px;
    height: 130px;
  }

}